html {
	font-family: Open Sans;
	font-size: 12px;
	margin: auto;
}
body {
	width: 100%;
}
a {
	margin: 5px;
}
.header a {
	text-decoration: none;
}
.darked a, .darked a:visited {
	color: white;
}
button {
	margin: 5px 0;
	box-shadow: 0;
}
h4, h5 {
	margin: 3px;
}
/*input {
	white-space: nowrap;
}*/
p, h1 {
	 margin: 0;
}
h1 {
	font-size: 2.5em;
	padding: 0 10px;
}
table {
	border-collapse: collapse;
}
th {
	border-top: 1px solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
th, td {
	border-bottom: 1px solid;
	line-height: 2;
	padding-right: 25px;
}
td {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
td > a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#table-column-ticks, #table-preset-ticks {
	width: 95%;
	max-width: 1000px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#darkmode {
	font-size: 26px;
	vertical-align: bottom;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#title, #darkmode {
	cursor: pointer;
}
#back {
	font-size: 32px;
	/* transform: rotate(180deg); */
	vertical-align: bottom;
}
.p5Canvas {
	display: none;
}
#table-filter {
	width: 95%;
	max-width: 1000px;
	padding: 10px 0;
	top: 0;
	position: -webkit-sticky;
	position: sticky;
}

#table-filter > input {
	max-width: 150px;
}

#timeline {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 200px;
	text-align: center;
	border-right: 1px solid white;
	color: white;
}

#footer {
	width: 100%;
	height: 50px;
}