html {
	font-family: Open Sans;
	font-size: 12px;
	margin: auto;
}
a {
	margin: 5px;
}
button {
	margin: 5px 0;
	box-shadow: 0
}
h4, h5 {
	margin: 3px;
}
/*input {
	white-space: nowrap;
}*/
p, h1 {
	 margin: 0;
}
#table-column-ticks {
	width: 95%;
	max-width: 1000px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#darkmode {
	padding-left: 10px;
	vertical-align: bottom;
	cursor: pointer;
}
#back i {
	font-size: 32px;
	/*position: fixed;
	top: 0;
	right: 0;
	z-index: 2;*/
	transform: rotate(180deg);
	vertical-align: bottom;
}
.p5Canvas {
	display: none;
}
#table-filter {
	padding: 10px 0;
	top: 0;
	position: -webkit-sticky;
	position: sticky;
}
#table-preset-ticks {
	display: none;
}