html {
	font-family: Open Sans;
	font-size: 12px;
	margin: auto;
}
a {
	margin: 5px;
}
.header a {
	text-decoration: none;
}
.darked a {
	color: white;
}
button {
	margin: 5px 0;
	box-shadow: 0;
}
h4, h5 {
	margin: 3px;
}
/*input {
	white-space: nowrap;
}*/
p, h1 {
	 margin: 0;
}
h1 {
	font-size: 2.5em;
	padding: 0 10px;
}
table {
	border-collapse: collapse;
}
th {
	border-top: 1px solid;
}
th, td {
	border-bottom: 1px solid;
	line-height: 2;
}
#table-column-ticks, #table-preset-ticks {
	width: 95%;
	max-width: 1000px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#darkmode {
	font-size: 26px;
	vertical-align: bottom;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#title, #darkmode {
	cursor: pointer;
}
#back {
	font-size: 32px;
	transform: rotate(180deg);
	vertical-align: bottom;
}
.p5Canvas {
	display: none;
}
#table-filter {
	padding: 10px 0;
	top: 0;
	position: -webkit-sticky;
	position: sticky;
}