html {
	/* background-color: white; */
	font-family: Open Sans;
	overflow: hidden;
}

body {
	margin: 0;
}

.centered {
	max-width: 640px;
	margin: auto;
	padding: 2px 8px;
}

.list tr:hover > td {
	background-color: transparent;
}

.darked tr:hover > td {
	background-color: transparent;
}

h1, h6 {
	margin: 20px 0;
	margin-bottom: 0;
}

table {
	border: 0;
	border-collapse: collapse;
}

td, th { 
	border: 0;
	padding: 0;
}

.title {
	cursor: pointer;
}

.tags {
}

.tags::-webkit-scrollbar { 
  height: 0;
}

.tag {
	margin: 3px;
	cursor: pointer;
}

.empty td {
	border: 1px solid transparent;
}

.darked td, .darked th {
	border: 0;
}

.grid-sizer {
  width: 20%;
}

.grid-item {
  float: left;
  background-color: white;
  border: 1px solid lightgray;
}

.grid-image {
  cursor: pointer;
  background-position: center;
  transition: background-size 0.1s ease;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.static-banner {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 8px;
  font-size: 12px;
  color: white;
  background: black;
  border: 1px solid white;
  border-left: 0;
  border-top: 0;
  z-index: 2;
}

.darked .static-banner {
}

.darked .grid-item {
  border: 1px solid white;	
}

#settings {
}

#main {
}

#main:hover {
	background-color: initial;
}

#mosaic {
  overflow: auto;
  /* height: 68vh; */
  white-space: nowrap;
}

#player {
	/* height: 400px; */
	text-align: center;
	top: 0;
	bottom: 0;
}

tr:hover {
	background-color: transparent;
}

tr:hover > td {
    background-color: transparent;
}

.darked tr:hover {
    background-color: transparent;
}

.button-active {
	color: lightgray;
	border: 1px solid lightgray;
}

.darked .button-active {
	color: gray;
	border: 1px solid gray;	
}

.button-inactive {
	color: lightgray;
	border: 1px solid lightgray;
}

.darked .button-inactive {
	color: gray;
	border: 1px solid gray;	
}

#main {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#viewer {
	z-index: 9;
	position: fixed;
	background-color: black;
	width: 100%;
	height: 100%;
	padding-top: 0;
	display: none;
	text-align: center;
}
#viewer-prev {
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	z-index: 11;
}
#viewer-next {
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
	height: 100%;
	z-index: 11;
}
#viewer-next:active {
	opacity: 0.4;
	background-image: linear-gradient(to left, white, transparent);
}
#viewer-prev:active {
	opacity: 0.4;
	background-image: linear-gradient(to right, white, transparent);
}