/*VARIABLES*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}


/*GENERAL*/
html {
	font-family: Noto Sans;
	background-color: var(--background);
	color: var(--foreground);
}

body {
	width: 100%;
	text-align: center;
	margin: 0;
}

.material-icons {
	cursor: pointer;
	padding: 7px;
}

.box {
	margin: 5px;
	vertical-align: top;
	scroll-snap-align: center;
	white-space: normal;
	touch-action: manipulation;
}

.shadowed {
	border: 1px solid lightgray;
	box-shadow: 3px 3px;
}

.shadowed:active {
	box-shadow: 1px 1px;
	transform: translate(2px, 2px);
}

.unshadowed {
	filter: opacity(100%);
	transition: filter 1s;
}

/*SPECIFIC*/
a {
	color: var(--foreground);
	text-decoration: none;
}
a:hover {
	color: var(--primary);	
}

.bi {
    font-size: 1.5em;
    padding: 3px;
}

.bi,
.title, 
.subtitle,
.home {
    filter: drop-shadow(2px 4px 2px var(--background));	
}

.title, 
.subtitle,
.settings {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.title, 
.subtitle {
    display: flex;
    align-items: baseline;
    gap: 5px;
	left: 1em;
	top: 0;
}

.settings {
	position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
}

.home {
    left: 0;
    right: 0;
	bottom: 1em;
	text-decoration: none;
	font-weight: bold;
}

.all {
	transform: scaleX(-1);
}


.progress {
    height: 15px;
	background-color: var(--background);
	border: 1px solid var(--foreground);
	transition: top 0.3s, width 0.1s;
}

.progress::-webkit-progress-bar {
	background-color: var(--background);
	border: 1px solid var(--foreground);
}

.progress::-webkit-progress-value {
	background-color: var(--primary);
}

/*DIALOG*/
.dialog dialog {
	background-color: var(--foreground);
	color: var(--background);
	padding: 10px;
	max-width: 360px;
	max-height: 100dvh;
	overflow: auto;
	margin: auto;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dialog dialog a {
	background-color: var(--background);
	color: var(--primary);
}


/*NEW*/
.header {
	background-color: var(--background);
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 1px;
}

.display {
    max-width: min(100%, 640px);
    max-height: calc(100dvh - 200px);
    overflow-y: auto;
    margin: auto;
}

.display button {
	font-family: Noto Sans;
	background-color: var(--background);
	color: var(--foreground);
}

.display img:focus-visible {
    outline: none;
}

.display .card:has(img:focus-visible),
.display .action:focus-visible {
    outline: 4px solid var(--primary);
}

.characters {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
	border: 2px solid var(--foreground);
	position: relative;
	border-radius: 8px;
    margin: 2px;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.expanded {
	background-color: var(--background);
	width: 90%;
	display: flex;
}

.info {
	width: 100%;
}

.expanded .name {
	display: none;
}

.full-name {
	display: none;
}

.expanded .full-name {
    display: block;
    padding-bottom: 1em;
}

.pic {
	cursor: pointer;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 150px;
}

.expanded .pic {
	border-top-right-radius: 0;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	height: 250px;
}

.card[data-level="0"] .pic {
	filter: opacity(30%);
}

.darked .card[data-level="0"] .pic {
	filter: brightness(30%);
}

.card[data-level="200"]::before {
	content: "🆗";
	position: absolute;
	top: 2px;
	left: 2px;
}

.summary {
    margin: 4px 2px;	
}

.action {
	border: 2px solid var(--foreground);
	width: 98%;
	height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	border-radius: 8px;
    margin: 4px 2px;
	cursor: pointer;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.action:hover {
	background-color: var(--accent);
}

.go-away {
    width: 100dvw;
    height: auto;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 1;
    font-size: 5em;
	text-align: center;
	text-shadow: 4px 4px var(--background);
}

.go-away.fade {
	transition: opacity 1s;
}

.go-away.hide {
	opacity: 0;
}

.hidden {
	display: none;
}
