<!DOCTYPE html>
<html lang="en-SG">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
    <link id="index-css" rel="stylesheet" type="text/css" href="index.css">
	<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<h3>Title</h3>
<h6>Subtitle</h6>
<div class="menu"></div>
<div class="list">Loading...</div>
</body>
<script src="index.js" type="application/javascript" charset="utf-8"></script>
</html>