/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
	font-family: Open Sans;
	background-color: var(--background);
	color: var(--foreground);
}

body > * {
  max-width: 640px;
  margin: auto;
  text-align: center;
  overflow-x: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-icons {
	cursor: pointer;
	padding: 10px;
}

.hidden {
	display: none;
}

.box {
	margin: 5px;
	vertical-align: top;
	scroll-snap-align: center;
	white-space: normal;
	touch-action: manipulation;
}

.shadowed {
  border: 1px solid lightgray;
  box-shadow: 3px 3px;
}

.shadowed:active {
  box-shadow: 1px 1px;
  transform: translate(2px,2px);
}

.unshadowed {
	filter: opacity(100%);
	transition: filter 1s;
}

@media only screen and (max-width : 1040px) {
/*scrollbars for top and bottom labels only on desktop*/
html { font-size: 100%; }
div { scrollbar-width: 0 !important; }
div::-webkit-scrollbar { width: 0 !important }
}