/*Variables*/
:root {
  --primary: #00e4ff;
  --secondary: #00b8cc;
}


/*Klassic Note: Website Additions*/
#hashtags {
	width: 100%;
	padding-bottom: 1em;
	color: #bbbbbb;
	font-size: 0.8em;
}

#hashtags a {
    display: inline-block;
	white-space: nowrap;
}

#SidebarBtn {
  position: fixed;
  display: none;
  visibility: visible;
  bottom: 20px;
  left: 20px;
  z-index: 9;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
}

#GoToTopBtn {
  position: fixed;
  display: block;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  z-index: 7;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
}

#SearchBtn {
  position: fixed;
  display: none;
  visibility: visible;
  bottom: 20px;
  right: 20px;
  z-index: 7;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
}

#CloseBtn {
  position: fixed;
  display: block;
  visibility: hidden;
  top: 20px;
  right: 20px;
  z-index: 9;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
}

#Overlay {
	background-color: transparent;
	position: fixed;
	opacity: 0.5;
	width: 100%;
	height: 120%;
	bottom: 0;
	top: 0;
	left: 0;
	z-index: 8;
}

#Label1 > div,
#SidebarBtn,
#GoToTopBtn,
#SearchBtn,
#CloseBtn {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sidebar-left-1 > div,
#SidebarBtn,
#GoToTopBtn,
#SearchBtn,
#CloseBtn {
  border: 1px solid lightgray;
  background-color: #000000;
  box-shadow: 3px 3px;
  border-radius: 8px;
}

#Text1:active,
#PageList1:active,
#LinkList1:active,
#BlogArchive1:active,
#HTML1:active,
#SidebarBtn:active,
#GoToTopBtn:active,
#SearchBtn:active,
#CloseBtn:active {
  box-shadow: 1px 1px;
  transform: translate(2px, 2px);
}

#comments {
  padding: 0;
  background: none;
}

#Label1 .widget ul {
  padding: 0 0 0 1em;
}

#Label1 ul::-webkit-scrollbar {
  width: 0 !important
} // Safari and Chrome

/*Website Adjustments*/
/*By Tag*/
body {
  display: none;
  background-color: #444444;
  font-size: 16px;
}

a {
  color: var(--primary);
}

a img,
table div[style|=background] {
  border: 1px solid var(--primary);
}

a:hover {
  text-decoration: none;
}

/*By Class*/
table.tr-caption-container {
    padding: 4px;
    margin-bottom: .5em;
}

td.tr-caption {
    font-size: 13px;
}

.failed {
	display: none;
	border: 0;
}

.flip-arrow {
  transform: rotate(180deg);
}

.material-icons {
  font-size: 48px;
}

.custom-table th, .custom-table td {
	border: 1px solid white;
	padding: 2px 4px;
}  

.custom-table {
	border-collapse: collapse;
}

.custom-table tr:hover > td {
	background-color: gray;
}

.center-cells td {
	text-align: center;
}

.title > a:hover {
  color: var(--primary);
}

.date-header {
  text-transform: uppercase;
  transition: height 1s;
}

.post-title,
.post-header {
  margin: 0 !important;
}

.post-title a,
.post-title.entry-title {
  font: normal bold 22px 'Trebuchet MS', Trebuchet, sans-serif;
  background-color: black;
}

.content-outer {
  padding-top: 0;
}

.content-cap-bottom.cap-bottom {
  height: 30px;
}

.footer-inner {
  padding: 10px 10px;
}

.main-inner {
  padding: 0;
}

.main-inner .column-center-inner {
  padding-top: 20px;
}

.post-body a {
	text-decoration: underline;
}

.widget .post-body ul {
  padding: 0 1.5em;
}

.quickedit,
.status-msg-wrap,
.post-count,
.display-none {
  display: none;
}

.separator {
  padding: 0 10px;
}

.HTML {
  border: none;
  padding: 0;
}

.BlogArchive ul li {
    padding-left: 0;
    text-indent: 0;
}

.BlogArchive ul ul li {
    padding-left: 0;
    text-align: right;
}

.toggle {
    font-size: medium;
}

.latest-post,
.column-left-outer,
.search-expander,
.bar-left,
.bar-right {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.search-expander {
	text-align: center;
	margin: 5px;
}

.search-expander i {
	font-size: 24px;
	vertical-align: bottom;
	cursor: pointer;
	padding-bottom: 1px;
	font-weight: bold;
}

.widget.LinkList li {
    white-space: nowrap;
    overflow-x: hidden;
}

.head-prefix {
	background-color: var(--secondary);
	border-radius: 5px;
	padding: 3px 5px;
	text-align: center;
	vertical-align: text-bottom;
}

.homepage-column-center-inner {
	margin-top: -15px;
}

.latest-post {
	box-shadow: 3px 3px white;
	border: 1px solid white;
	margin: 12px auto;
	border-radius: 8px;
	vertical-align: middle;
	padding: 12px;
	overflow: hidden;
}

.latest-post a, 
.latest-post-summary {
	color: white;
}

.latest-post:hover h3 {
	color: var(--primary);
}

.latest-post:active {
	box-shadow: 1px 1px;
	transform: translate(2px,2px);
}

.latest-post-summary {
	padding: 10px;
    max-height: 80px;
    overflow: hidden;
}

.home-thumb {
    margin: 10px 0;
	width: 90px;
	height: 90px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.news-thumbnail {
	display: none;
}

/*Label header and footer navigation*/
.list-label-widget-content {
  font-size: 14px;
}

.main-inner .date-outer {
  margin-bottom: 0;
}

.tabs-inner .widget li a,
.footer-inner .widget li a {
  padding: 0;
}

.tabs-inner .widget li {
  padding: 12px 20px;
}

.tabs-inner .widget li span {
  line-height: initial;
  margin: 12px 20px;
  display: block;
}

.tabs-inner .widget li,
.footer-inner .widget li {
  box-shadow: 3px 3px white;
  border: 1px solid white;
  margin: 3px 0 3px 15px;
  border-radius: 8px;
}

.tabs-inner .widget li:active,
.footer-inner .widget li:active {
  box-shadow: 1px 1px;
  transform: translate(2px, 2px);
}

.mobile-desktop-link {
  display: none;
}

.mobile-index-title {
  width: initial;
}

div#sidebar-left-1 > div {
  padding: 10px;
}

div#sidebar-left-1 ul {
  list-style: none;
  padding: 0;
}

div#PageList1 div ul li:first-child a {
  font: normal bold 14px Open Sans;
  color: white;
}

div#sidebar-left-1.sidebar.section {
  margin: 0 8px 0 15px;
}

/*Search Bar*/
.header-inner .Header .descriptionwrapper {
  margin-bottom: 0;
}

input.gsc-search-button {
  display: none;
}

input.gsc-input {
  padding: 2px 6px;
  font: inherit;
  width: 200px;
}

/*Middle Screen Width Responsive*/
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  body {
    min-width: auto !important;
    max-width: 760px !important;
    margin-left: auto;
    margin-right: auto;
	font-size: 14px;
  }
  #blog-pager.blog-pager {
    /* padding: 0 1em 1em 0; */
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #blog-pager-older-link>a,
  #blog-pager-older-link>a:visited,
  #blog-pager-newer-link>a,
  #blog-pager-newer-link>a:visited {
    color: white;
  }
  #blog-pager-older-link>a:hover,
  #blog-pager-newer-link>a:hover {
    color: var(--primary);
  }
  #header-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  #Label1 {
    margin: 0 20px;
  }
  #Label1 ul {
    white-space: nowrap;
    overflow-x: hidden;
    height: 68px;
    padding: 0 10px;
  }
  #Label1 ul:hover {
    overflow-x: scroll;
  }
  #Label1 li {
    float: none;
    display: inline-block;
    padding: 12px 20px;
  }
  #CustomBlogSearch {
    max-width: 220px;
    margin: auto;
    width: 100%;
    display: none;
  }
  #SidebarBtn {
    display: block;
  }
  #hashtags a {
	padding: 3px;
	font-size: 0.9em;
  }
  td.tr-caption {
	font-size: 11px;
  }
  div.footer-inner {
    padding: 10px 0;
  }
  .column-left-inner>aside {
    display: none;
  }
  div.content-cap-bottom.cap-bottom {
    height: 60px;
  }
  .columns.fauxcolumns {
    padding-left: 0 !important;
  }
  .tabs-inner .widget li,
  .footer-inner .widget li {
    float: none;
    display: inline-block;
    margin: 3px 5px;
  }
  .content-inner {
    padding: 0 5px 0 0;
  }
  .content-outer {
    min-width: auto !important;
  }
  .footer-inner .widget a:link {
    text-decoration: none;
  }
  .footer-inner .widget a:hover {
    color: white;
    text-decoration: none;
  }
  /*Fix post newer older post links*/
  .blog-mobile-link,
  a.home-link {
    color: white;
	/* position: absolute; */
    /* left: 0; */
    /* right: 0; */
  }
  .bar-left {
    position: absolute;
    font-size: 48px;
    background-image: linear-gradient(to right, black, transparent);
    height: 68px;
  }
  .bar-right {
    position: absolute;
    right: 0;
    font-size: 48px;
    background-image: linear-gradient(to left, black, transparent);
    height: 68px;
  }
  .search-expander i {
    font-size:36px;
	font-weight:normal;
  }
}

/*Large Screen Width (Responsive)*/
@media only screen and (min-width: 1025px) {
  #CustomBlogSearch {
    position: absolute;
    z-index: 50;
    right: 26px;
    top: 100px;
    width: 200px;
    display: none;
  }
  /*Fix post newer older post links*/
  #blog-pager-newer-link {
    left: 0;
  }
  #blog-pager-older-link {
    right: 0;
  }
  a.home-link:visited,
  #blog-pager-older-link>a,
  #blog-pager-older-link>a:visited,
  #blog-pager-newer-link>a,
  #blog-pager-newer-link>a:visited {
    padding: inherit;
  }
  #blog-pager.blog-pager {
    padding: 0 1em 1em 0;
    margin: 0;
  }
  .tabs-inner {
	margin: 0;
  }
  .bar-left,
  .bar-right {
    display: none;
  }
  .blog-mobile-link,
  a.home-link {
    display: none;
  }
  .main-inner {
    padding: 10px 0;
  }
  .sidebar .widget a:hover,
  .footer-inner .widget a:hover {
    text-decoration: none;
    color: white;
  }
  .footer-outer {
    background-color: black;
    padding-bottom: 18px;
  }
}

/*Middle Screen Width (Responsive)*/
@media only screen and (max-width: 780px) {
  * {
    scrollbar-width: 0 !important;
  } //Firefox
  a#SidebarBtn{
    left: 15px;
  }
  a#SidebarBtn,
  a#GoToTopBtn,
  a#SearchBtn  {
    bottom: 15px;
  }
  a#CloseBtn,
  a#GoToTopBtn,
  a#SearchBtn  {
	right: 15px;
  } 
  a#CloseBtn {
    top: 15px;
  }
  div#Label1 {
    margin: 0 5px;
  }
  div#footer-3 {
    margin: 0;
  }
  .header-inner .Header .titlewrapper,
  .header-inner .Header .descriptionwrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .main-inner .column-center-inner .section {
    margin: 0 5px;
  }
  .material-icons {
    font-size: 36px;
  }
}

/*Custom abbr hover (Unsupported)*/
abbr {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  text-decoration: none;
  animation: txtblink 3s infinite;
  -webkit-animation: txtblink 3s infinite;
  -moz-animation: txtblink 3s infinite;
}

abbr.published {
  animation: none;
}

abbr.imgpop img {
  display: none;
}

abbr.imgpop:hover {
  animation: none;
}

abbr.imgpop:hover img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  position: absolute;
  display: inline;
  left: 0;
  right: 0;
  margin: 25px auto;
  max-height: 150px;
  border-radius: 3px;
  z-index: 99;
}

/*Pop-up content frame*/
.popup .normal {
  animation: txtblink 3s infinite;
  -webkit-animation: txtblink 3s infinite;
  -moz-animation: txtblink 3s infinite;
}

.popup .initial * img {
  border: 1px solid transparent;
}

.popup,
.popup:hover .normal {
  display: inline;
}

.popup .pop,
.popup:hover .initial {
  display: none;
}

.popup:hover .pop {
  display: block;
  position: absolute;
  display: block;
  z-index: 99;
  /*for allowing mouseover width of content*/
  text-align: center;
  /*for iframe elements*/
  left: 0;
  right: 0;
}

.popup:hover * img {
  border: 1px solid transparent;
  max-width: 100%;
}

.popout {
  display: block;
}

.fadeIn {
  animation: fadeIn 0.2s ease-in 0.1s both;
}

/*Multi-image thumbnail (Refer to js for logic)*/

.thumbnail {
  display: block;
}

.thumbnail-initial {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}

.thumbnail-normal {
  position: initial;
  text-align: center;
  left: 0;
  right: 0;
}

.thumbnail-pop {
  visibility: hidden;
}

.thumbnail-initial * img,
.thumbnail-initial * video {
  border: 1px solid transparent;
  animation: imgblink 3s infinite;
  -webkit-animation: imgblink 3s infinite;
  -moz-animation: imgblink 3s infinite;
}

.thumbnail .popup:hover .pop img {
  animation: none;
}

/*EXPERIMENTAL - all prefixed with new for now*/
.new-t, .new-thumbnail, .new-thumbnail-initial {
	display: inline;
	cursor: pointer;
}
.new-thumbnail-focus {
	display: none;
}
.new-thumbnail-initial {
	color: var(--primary);
}
.new-thumbnail {
	border-bottom: 2px solid white;
}
.new-thumbnail .new-thumbnail-focus {
	position: absolute;
	display: block;
	z-index: 1;
	left: 0;
	right: 0;
	margin-top: 3px;
	text-align: center;
	max-width: 100%;
}
	
/*Assign class based on image resize for responsive, see blog.js resizeImg()*/
.img-width-fit {
	width: 100%;
}

.img-width-auto {
	width: auto;
}

.img-separator {
	margin-left: auto;
	margin-right: auto;
}

/*Blink animation (Time is 10x blink sequence)*/
@keyframes txtblink {
  0% {
    color: #ffffff;
  }
  5% {
    color: var(--primary);
  }
  20% {
    color: var(--primary);
  }
  25% {
    color: #ffffff;
  }
}

@keyframes imgblink {
  50% {
    border: 1px solid transparent;
  }
  55% {
    border: 1px solid var(--primary);
  }
  65% {
    border: 1px solid var(--primary);
  }
  70% {
    border: 1px solid transparent;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
