/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
	font-family: Open Sans;
	background-color: var(--background);
	color: var(--foreground);
}

body {
	max-width: 480px;
	margin: auto;
	text-align: center;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.title {
	margin-bottom: 0;
}

.description {
	margin-top: 0;
}

.material-icons {
	cursor: pointer;
	padding: 10px;
}

.hidden {
	visibility: hidden;
}

.box {
	margin: 5px;
	vertical-align: top;
	scroll-snap-align: center;
	white-space: normal;
	touch-action: manipulation;
}

.shadowed {
  border: 1px solid lightgray;
  box-shadow: 3px 3px;
}

.shadowed:active {
  box-shadow: 1px 1px;
  transform: translate(2px,2px);
}

.unshadowed {
	filter: opacity(100%);
	transition: filter 1s;
}

.page {
	display: grid;
	height: 90vh;
    grid-template-columns: 8vh 8vh 8vh;
    grid-template-rows: auto 8vh 8vh 8vh auto 70px auto 8vh 8vh 8vh auto;
	box-sizing: border-box;
	grid-gap: 1vh;
    justify-content: center;
	/* padding: 5vh 0; */
}

.rules,
.action,
.scores,
.cell {
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}

.cell {
	font-size: 2em;
}

.dice {
	font-size: 3em;
	grid-column: 1 / span 3;
}

.dice[data-status="rolled"] {
	color: var(--primary);
}

.dice[data-status="disabled"] {
	color: var(--accent);
}

.highlight {
	background-color: var(--accent);
}

.viewer {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 0;
	visibility: hidden;
	text-align: center;
	transition: opacity 0.5s, visibility 0.5s;
	background: rgba(255, 255, 255, 0.6); /*semi-transparent background*/
}

.darked .viewer {
	background: rgba(0, 0, 0, 0.6); /*semi-transparent background*/
}

@media only screen and (max-width : 1040px) {
/*scrollbars for top and bottom labels only on desktop*/
html { font-size: 100%; }
div { scrollbar-width: 0 !important; }
div::-webkit-scrollbar { width: 0 !important }
}