/*Variables*/
:root {
  --primary: #0065ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
	font-family: Noto Sans;
	background-color: var(--background);
	color: var(--foreground);
}

body > * {
  text-align: center;
  overflow-x: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input,
.icon {
	margin: 10px;
	font-size: 4ch;
}

.input[type="number"] {
	width: 35%;
	max-width: 5em;
}

.input:disabled {
	color: var(--foreground);
	background-color: var(--accent);
}

code {
  padding: 1em;
  border: 1px dashed var(--foreground);
}

.status {
  border: 1px double var(--foreground);
}

.settings a {
	display: flex;
	justify-content: center;
	color: var(--foreground);
	text-decoration: none;
	padding: 5px;
}
