/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
  font-family: Noto Sans;
  background-color: var(--background);
  color: var(--foreground);
  width: 100%;
  height: 100%;
  color-scheme: light;
}

html.darked {
  color-scheme: dark;
}

body {
  margin: 0;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

a,
a:visited {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

button {
  box-sizing: content-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button[onclick] {
  cursor: pointer;
}

.button {
  border: 0;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-right: 0.85em;
  font-size: 1em;
}

.button::before {
  font-size: 2em;
}

.tab {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

section.presets .actions:has(.tab), 
section.drawer .actions:has(.tab) {
  padding-top: 0;
  gap: .5em;
}

.inverted {
  font-size: 1.5em;
  color: var(--foreground);
}

.inverted:hover {
  color: var(--primary);
}

.preset {
  background-color: var(--background);
  color: var(--foreground);
}

.preset:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.page {
  width: 100%;
  height: calc(100% - 65px);
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1em;
}

.canvas.borderless {
  gap: 0;
}

/* LANDSCAPE */
.canvas:has(.category:nth-child(2)) {
  --rows: 1;
  --columns: 2;
}

.canvas:has(.category:nth-child(3)) {
  --rows: 2;
  --columns: 2;
}

.canvas:has(.category:nth-child(5)) {
  --columns: 3;
}

.canvas:has(.category:nth-child(7)) {
  --columns: 4;
}

.canvas:has(.category:nth-child(9)) {
  --columns: 5;
}

.canvas:has(.category:nth-child(11)) {
  overflow-y: auto;
  --rows: 3;
  --columns: 4;
}

/* PORTRAIT */
@media (max-aspect-ratio: 4 / 5) {
  .canvas:has(.category:nth-child(2)) {
    --rows: 2;
    --columns: 1;
  }

  .canvas:has(.category:nth-child(3)) {
    overflow-y: auto;
    --rows: 3;
    --columns: 1;
  }
}

.category {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--accent);
  width: calc(100% / var(--columns, 1) - 1em);
  height: calc(100% / var(--rows, 1) - 1em);
  justify-content: center;
  align-content: center;
  align-items: center;
}

.canvas.borderless .category {
  border-color: transparent;
  height: calc(100% / var(--rows, 1));
}

.category::before {
  position: absolute;
  content: attr(data-id);
  z-index: 0;
  top: 1em;
  opacity: 0.7;
}

.item {
  margin: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.box {
  border-radius: 8px;
  background-color: var(--secondary);
}

.box:hover {
  background-color: var(--primary);
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.header {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  background-color: var(--background);
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  z-index: 1;
  padding: 1em;
}

.header.hidden {
  transform: translateY(-100%);
  display: block;
}

section.presets,
section.drawer {
  width: 100%;
  max-width: 640px;
  height: 50%;
  background-color: var(--accent);
  position: absolute;
  bottom: -1em;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
  z-index: 1;
  overflow-y: auto;
}

section.presets.hidden,
section.drawer.hidden {
  transform: translateY(150%);
  display: block;
}

section.drawer:not(:has(.item))::after {
  content: "No items";
}

section.presets .actions,
section.drawer .actions {
  flex: 1 0 100%;
  padding: 1em;
  display: flex;
}

section.presets {
  height: 25%;
}

.settings {
  height: 65px;
  margin: 0;
}

.hidden {
  display: none;
}