/*when not in dark mode*/
html, div {
	background-color: white;
	color: black;
}

.darked, .darked button, .darked textarea, .darked div {
	background-color: black;
	color: white;
}

.darked button {
    border: 1px solid lightgray;
}

.darked a,
.darked a:visited {
	color: #00e4ff;
}

.darked .profile-category::-webkit-scrollbar-thumb {
  background: white;
}

.darked .profile-category::-webkit-scrollbar-track {
  background: #444444;
}

tr:hover > td {
	background-color: gray;
}
.darked tr:hover {
	background-color: lightgray;
}
	
.settings {
	text-align: center;
}

.settings a {
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
	color: black;
    text-decoration: none;	
}

.darked .settings a  {
	color: white;
}