html {
	background-color: white;
	color: black;
}

button {
	background-color: white;
    border: 1px solid gray;
}

.darked, .darked button, .darked textarea, .darked div {
	background-color: black;
	color: white;
}

.darked button {
    border: 1px solid lightgray;
}

.darked button:disabled {
    color: gray;
    border: 1px solid gray;
}

.darked a,
.darked a:visited {
	color: var(--primary);
}

.darked .settings > a {
    color: white;
}

.highlight:hover {
	background-color: lightgray;
}

.darked .highlight:hover {
	background-color: gray;
}