@font-face {
  font-family: Open Sans;
  src: url(resources/open-sans.woff2) format(woff2);
}

@font-face {
  font-family: Noto Sans;
  src: url(resources/noto-sans.woff2) format(woff2);
}

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(resources/material-icons.woff2) format(woff2);
}

.material-icons {
  font-family: Material Icons;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: liga;
  font-feature-settings: liga;
}