/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
}

/*Components*/
html {
	font-family: Open Sans;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ and Edge */
	user-select: none; /* Standard syntax */
	margin: 0;
	padding: 0;
}

a {
	color: var(--primary);	
}

.page {
	max-width: 100%;
	text-align: center;
}

.page-list {
	max-width: 640px;
	margin: auto;
}

.subset {
    white-space: nowrap;
}

.preview {
	display: none;
	position: fixed;
	width: 360px;
	height: 360px;
	margin: 10px;
	background-color: white;
}

.settings {
	text-align: center;
}

.settings a {
	cursor: pointer;
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
	color: black;
    text-decoration: none;	
}

.spacer {
	height: 10px;
}