html {
	/* background-color: white; */
	font-family: Open Sans;
}

body {
	margin: 0;
}

#overlay {
	text-align: center;
    position: absolute;
    z-index: 99;
    opacity: 0.5;
    color: black;
    background-color: transparent;
    width: 100%;
	/* visibility: hidden; */
    left: 0;
    right: 0;
}

#random-count {
	font-weight: normal;
	font-size: small;
    vertical-align: text-top;
}

#search, #options {
    width: 100%;
	box-sizing: border-box;
}

#tab-homepage {
	padding: 4px;
}

#tab-list {
	overflow: auto;
	padding: 3px;
}

.absolute {
	position: absolute;
	padding: 0 5px;
}

.award-winner {
	position: absolute;
	right: 0;
	font-size: 20px;
}

.bordered td, .bordered th {
	border: 1px solid black;
}

.darked .bordered td, .darked .bordered th {
	border: 1px solid white;
}

.centered {
	max-width: 640px;
	margin: auto;
	padding: 2px 8px;
}

.centered-text {
	text-align: center;
}

.content-box {
  border: 1px solid lightgray;
  box-shadow: 3px 3px;
  padding: 4px;
  white-space: normal;
  width: 100%;
}

.darked .content-box {
  border: 1px solid white;
}

.module {
	padding: 5px 10px;
}

.list {
	border-collapse: collapse;
	font-size: 0.9em;
	width: 98%;
}

.list td, 
.list th {
	padding: 2px 4px; 
	font-size: 0.9em;
}

.list tr:hover > td {
	background-color: lightgray;
}

.darked .list tr:hover > td {
	background-color: gray;
}

.list .highlight {
	background-color: lightgray;
}

.darked .list .highlight {
	background-color: gray;
}

.header-element {
	margin: 20px 0;
	margin-bottom: 0;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.material-icons {
	font-size: 20px;
	vertical-align: bottom;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.darked .material-icons {
	color: white;
}

.no-highlight tr:hover > td {
	background-color: initial;
}

.darked .no-highlight tr:hover {
	background-color: initial;
}

.not-selectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab {
	display: none;
    overflow-y: auto;
}

.tab-button {
	padding: 6px 12px;
	text-transform: uppercase;
}

.tab-view {
	vertical-align: top;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

.tags .tag {
	width: auto;
}

.tags .tag:hover {
	background-color: lightgray;
}

.darked .tags .tag:hover {
	background-color: gray;
}

.player {
	width: 100%;
}

.settings .material-icons {
	font-size: 24px;
}

.year {
	padding: 5px;
	cursor: pointer;
}

@media only screen
   and (min-device-width : 960px)
{
}