/*Variables*/
:root {
	--primary: 27, 63, 255;
	--secondary: 59, 102, 222;
	--tertiary: 221, 221, 255;
	--background: 255, 255, 255;
	--foreground: 0, 20, 20;
	--accent: 221, 221, 221;
}

.darked:root {
	--primary: 50, 228, 255;
	--secondary: 36, 159, 179;
	--tertiary: 22, 98, 100;
	--background: 0, 0, 0;
	--foreground: 245, 245, 255;
	--accent: 69, 69, 69;
	color-scheme: dark;
}

a,
a:visited {
	color: rgb(var(--foreground));
	text-decoration: none;
}

a:hover {
	color: rgb(var(--primary));
}

button {
	all: unset;
}

html {
	font-family: Noto Sans;
	background-color: rgb(var(--background));
	color: rgb(var(--foreground));
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body,
main {
	margin: auto;
	width: 100%;
	max-width: 480px;
	height: 100%;
	text-align: center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 5em;
	z-index: 2;
}

footer {
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 480px;
	height: 4em;
    margin: auto;
}

footer button {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(var(--accent));
	background: rgb(var(--background));
	cursor: pointer;
}

.box {
	margin: 5px;
	vertical-align: top;
	scroll-snap-align: center;
	white-space: normal;
	touch-action: manipulation;
}

.view {
	width: 100%;
	height: 100%;
}

.card-view {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-view .card {
	max-width: 180px;
	position: relative;
	padding: 16px;
	border-radius: 16px;
	background: rgba(var(--secondary), 0.6);
	box-shadow: 0px 4px 3px 3px var(--background);
}

.card-view .card:nth-child(1) {
	z-index: 3;
}

.card-view .card:nth-child(2) {
	z-index: 2;
}

.card-view .card:nth-child(3) {
	z-index: 1;
}

.card-view .card:nth-child(n+4) {
	display: none;
}

.card-view .card div:has(>img) {
	width: 100%;
	border-radius: 8px;
}

.card-view .card h5 {
	max-height: 3lh;
	overflow: hidden;
	line-clamp: 3;
}

.card-view .card p {
	font-size: 0.8em;
	position: absolute;
    top: 0.7em;
    right: 1.5em;
	padding: 8px;
	background: rgba(var(--accent), 0.5);
	border-radius: 99px;
	vertical-align: middle;
	line-height: 1;
}

.card-view .card a {
	cursor: pointer;
	position: absolute;
	top: 1em;
	left: 1.2em;	
}

.library-view {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
}

.library-view .filter-sort {
	width: 100%;
	height: 44px;
	padding-top: 70px;
	display: flex;
    gap: 8px;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	background: rgb(var(--background));
}

.library-view .filter-sort div {
	font-size: 0.8em;
}

.library-view .filter-sort select {
	width: 25%;
	justify-content: center;
	align-items: center;
}

.library-view .list {
	width: 100%;
    height: calc(100% - 120px - 4em);
	overflow: auto;
}

.library-view hr {
	height: 4em;
}

.library-view .card {
	position: relative;
	padding: 16px;
	display: grid;
	grid-auto-flow: column;
	box-sizing: border-box;
	border-top: 2px solid rgb(var(--accent));
}

.library-view .card:nth-child(1) {
	border-top: 2px solid transparent;
}

.library-view .card div:has(>img) {
	width: 100%;
	max-height: 100px;
	border-radius: 8px;
	object-fit: contain;
    grid-row: 1 / 3;
}

.library-view .card h5 {
	max-height: 4.2lh;
	overflow: hidden;
    text-align: start;
    margin: 1em;
    grid-row: 1 / 3;
}

.library-view .card a {
    grid-row: 2 / 3;
	cursor: pointer;
}

.settings {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 12px;
	background: rgb(var(--accent));
	border-radius: 99px;
}

.hidden {
	display: none;
}