/*Variables*/
:root {
  --primary: #0065ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
	font-family: Open Sans;
	background-color: var(--background);
	color: var(--foreground);
}

body {
	padding: 0;
	margin: auto;
}

h2, h3, .labels { 
	text-align: center;
}

.anime-list {
	overflow: scroll;
	height: 500px;
}

.anime-table,
.anime-table tr,
.anime-table td { border-collapse: collapse; }

.anime-table td { white-space: nowrap; }
.anime-table th { padding: 0 5px; }
.anime-table tr { border-bottom: 1px solid #bbbbbb; }
.darked .anime-table tr { border-bottom: 1px solid #444444; }

.anime-table tr:hover {
	border-bottom: 1px solid var(--foreground);
}

.active-period {
	background-color: var(--foreground);
}

.anime-table tr:first-child > th {
    position: sticky;
    position: webkit-sticky;
	top: 0;
	left: 0;
    background-color: var(--background);
}

.anime-table tr:first-child > th:first-child {
	z-index: 1;
    background-color: var(--background);
}

.row-title {
    position: sticky;
    position: webkit-sticky;
	left: 0;
    background-color: var(--background);
	border-right: 1px solid var(--accent);
	border-bottom: 1px solid var(--accent);
	/* transition: background-color 1s; */
	cursor: pointer;
	text-align: right;
	padding: 1px;
}

.row-title:hover {
	color: var(--background);
    background-color: var(--foreground);
	/* transition: background-color 1s; */
}

.show-overlay {
	display: none;
}

.show-overlay img {
	border: 0;
	max-width: 150px;
	max-height: 150px;
}

.active-period:hover .show-overlay {
	display: block;
	position: absolute;
	background-color: var(--background);
	font-size: 0.8em;
	border-radius: 8px;
	border: 1px solid var(--foreground);
	box-shadow: 3px 3px;
	text-align: center;
	padding: 4px 8px;
	z-index: 3;
}

.current-period {
	background-color: var(--accent);
}

.settings a {
	color: var(--foreground);
	text-decoration: none;
	padding: 15px;
}

@media only screen and (max-width: 960px) {
	body {
		font-size: 0.8rem;		
	}
	table {
		font-size: 0.6rem;
	}
	.active-period:hover .show-overlay {
		font-size: 1.5em;
	}
	.row-title {
		padding: 5px 1px;
		max-width: 60vw;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.show-overlay {
		white-space: normal;		
	}
}