/*Variables*/
:root {
    --primary: #1b00ff;
    --secondary: #609fff;
    --background: #fff;
    --foreground: #000;
    --accent: lightgray;
}

.darked:root {
    --primary: #00e4ff;
    --secondary: #00abbf;
    --background: #000;
    --foreground: #fff;
    --accent: gray;
    color-scheme: dark;
}

html {
    font-family: Noto Sans;
    background-color: var(--background);
    color: var(--foreground);
}

body {
    margin: 0;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a,
a:visited {
    color: var(--foreground);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
}

.hidden {
    display: none;
}

.logo {
    font-size: 4em;
}

.name,
.lineup {
    font-size: 2em;
}

.scratcher {
    max-width: var(--width);
    border: 2px solid var(--foreground);
    border-radius: 8px;
}

.prize {
    width: 100%;
    height: 100%;
    place-content: center;
    color: var(--foreground);
    font-size: 1.5em;
}

.scratcher[data-complete] .prize.win {
    background: var(--primary);
}

.footer {
    font-size: 0.8em;
}