/*Variables*/
:root {
  --primary: #0065ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
}
.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
}
html {
	font-family: Open Sans;
	font-size: 12px;
	margin: auto;
	background-color: var(--background);
	color: var(--foreground);
	color-scheme: light;
}
html.darked {
	color-scheme: dark;
}
body {
	width: 100%;
	margin: 0;
}
a, button {
	background-color: var(--background);
	color: var(--foreground);
}
a {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	margin: 5px;
}
button {
	border: 1px solid var(--foreground);
	margin: 5px 0;
	box-shadow: 0;	
}
h4, h5 {
	margin: 3px;
}
p, h1 {
	 margin: 0;
}
h1 {
	font-size: 2.5em;
	padding: 0 10px;
}
table {
	border-collapse: collapse;
}
th {
	border-top: 1px solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
th, td {
	border-bottom: 1px solid;
	line-height: 2;
	padding-right: 25px;
}
td {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
td > a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#table-column-ticks, #table-preset-ticks {
	width: 95%;
	max-width: 100vw;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#darkmode, #back {
	display: inline-block;
	text-decoration: none;
	padding: 2px 10px;
	cursor: pointer;
	font-size: 32px;
	vertical-align: top;
}
#darkmode {
	right: 0;
	font-size: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#title, #subtitle {
	/* display: inline-block; */
	padding: 0;
    text-align: center;
    /* width: 100%; */
}
#title {
	display: inline;
}
#container {
	/* overflow: scroll; */
	/* height: 99vh; */
	/* width: auto; */
	/* padding: 5px; */
}
#table-filter-ticks {
	width: 100%;
	max-width: 100vw;
	padding-bottom: 10px;
	top: 0;
}
#table-filter > input {
	max-width: 150px;
}
#table-box {
	overflow: auto;
	width: 100vw;
	/* height: 100vh; */
}
#timeline {
	float: left;
	height: 100vh;
	width: 200px;
	text-align: center;
	border-right: 1px solid black;
	/* transition: width 0.2s, height 0.2s; */
}
.darked #timeline {
	border-right: 1px solid white;
}
#footer {
	width: 100%;
	height: 50px;
}
#header {
	text-align: center;
}
#header a {
}
.darked a, .darked a:visited {
	color: white;
}

.filter-title {
    padding: 5px 0;
	display: block;
    font-weight: bold;
}

.filter-section {
	left: 0;
	position: -webkit-sticky;
	position: sticky;
}

.filter-section {
	z-index: 1;
}

.landing {
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 1;
}

.landing p {
    position: relative;
    top: 50vh;
    padding: 0;
    text-align: center;
}

.drop-area {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: white;
	opacity: 1;
	display: none;
}

.drop-fade {
	opacity: 0.2;
	display: block;
}

@media only screen and (max-device-width : 480px)
{
	#darkmode, #back {
		padding: 2px 4px;
	}
	.filter-section {
		position: initial;
		
	}
}
@media only screen and (max-device-width : 380px)
{
	.landing {
		display: block;
	}
}