/*Variables*/
:root {
	--primary: #1b00ff;
	--secondary: #609fff;
	--background: #fff;
	--foreground: #000;
	--accent: lightgray;
}

.darked:root {
	--primary: #00e4ff;
	--secondary: #00abbf;
	--background: #000;
	--foreground: #fff;
	--accent: gray;
}

html {
	font-family: Open Sans;
	background-color: var(--background);
	color: var(--foreground);
}

body {
	margin: 0;
	text-align: center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: var(--foreground);
	text-decoration: none;
}

a:hover {
	color: var(--primary);
}

.title {
	padding: 8px;
}

.menu {
	max-width: 640px;
	margin: 10px auto;
}

.large-font {
	font-size: 2em;
	line-height: 1.5;
}

.huge-font {
	font-size: 4em;
}

.material-icons {
	cursor: pointer;
}

.closed {
	display: none;
}

.padded {
	padding: 10px;
}

.box {
	vertical-align: top;
	scroll-snap-align: center;
	white-space: normal;
	touch-action: manipulation;
	text-align: center;
}

.cell {
	border: 1px solid var(--accent);
}

.cell:active {
	border: 1px solid var(--foreground);
}

.display {
	display: flex;
    justify-content: center;
    gap: 0 16px;
}

:not(:has(.card)) .display {
	font-size: 3.5em;
}

.pattern > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
    min-height: 2em;
}

.card {
	padding: 1em;
}

.card .prev,
.card .next {
	display: none;
	position: absolute;
    top: 50%;
	width: 15%;
	height: 15%;
}

.card .prev {
	left: 0;
}

.card .next {
	right: 0;
}

.square-board {
    width: 1.5em;
	aspect-ratio: 1 / 1;
}

.square-card {
	width: 3em;
	height: 3em;
	aspect-ratio: 1 / 1;
	font-size: 1.3em;
}

.square-pattern {
    width: 1em;
    height: 1em;
}

.square-call {
    width: calc(6em + 10px);
    height: calc(6em + 10px);
}

.selected {
	background-color: var(--accent);
}

.daub1 {
	background-color: cyan;
}

.darked .daub1 {
	background-color: navy;
}

.daub2 {
	background-color: pink;
}

.darked .daub2 {
	background-color: darkred;
}

.daub3 {
	background-color: lime;
}

.darked .daub3 {
	background-color: green;
}

.label,
.away {
	padding: 3px;
}

.history div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.25em;
}

.history span {
	line-height: 2;
}

.settings {
	margin: 0;
}

.hidden {
	visibility: hidden;
}

.hidden::before {
	content: "- PAUSED -";
	position: absolute;
	text-align: center;
	visibility: visible;
	font-size: 2em;
    left: 0;
    right: 0;
}

.popup {
	width: 100dvw;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 8em;
	text-align: center;
	text-shadow: 4px 4px var(--background);
}

.popup.fade {
	transition: opacity 1s;
}

.popup.hide {
	opacity: 0;
}

@media only screen and (max-width : 1040px) {
	/*scrollbars for top and bottom labels only on desktop*/
	div {
		scrollbar-width: 0 !important;
	}

	div::-webkit-scrollbar {
		width: 0 !important
	}

	body {
		font-size: 0.8em;
	}
	.display {
		flex-wrap: wrap;
	}
	.board {
		order: -1;
		flex-basis: 100%;
	}
	.board table {
		margin: auto;
	}
	.list {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
        align-items: initial;
        justify-content: initial;
	}
	.card {
        flex: 1 0 100vw;
        position: relative;
		padding: 0;
	}
	.list:has(.card:nth-child(2)) .card::before {
		font-family: 'Material Icons';
		content: attr(data-icon);
		position: absolute;
        top: 0;
        left: 1em;
        font-size: 2em;
	}
	.card table {
		margin: auto;
	}
	.card .prev,
	.card .next {
		display: block;
	}
	
}