/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}
html {
	font-family: Open Sans;
	background-color: var(--background);
	color: var(--foreground);
}
body {
	margin: 0;
	text-align: center;	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {
    color: var(--foreground);
	text-decoration: none;
}
a:hover {
    color: var(--primary);
}
.menu {
	max-width: 640px;
	margin: 10px auto;
}
.large-font {
	font-size: 2em;
}
.huge-font {
	font-size: 4em;
}
.material-icons {
	cursor: pointer;
}
.closed {
	display: none;
}
.padded {
	padding: 10px;
}
.box {
	vertical-align: top;
	scroll-snap-align: center;
	white-space: normal;
	touch-action: manipulation;
	text-align: center;
}
.shadowed {
	border: 1px solid var(--accent);
	box-shadow: 3px 3px;
}
.shadowed:active {
	box-shadow: 1px 1px;
	transform: translate(2px,2px);
}
.list {
	display: flex;
	justify-content: center;
	align-items: center;
}
.square-board {
	width: 40px;
	aspect-ratio: 1 / 1;
}
.square-card {
	width: 4em;
	height: 4em;
	aspect-ratio: 1 / 1;
	font-size: 1.3em;
}
.square-pattern {
	width: 20px;
	height: 20px;	
}
.square-call {
	width: 120px;
	height: 120px;	
}
.selected {
	background-color: var(--accent);
}
.daub1 {
	background-color: blue;	
}
.darked .daub1 {
}
.daub2 {
	background-color: pink;
}
.darked .daub2 {
	background-color: red;
}
.daub3 {
	background-color: lime;
}
.darked .daub3 {
	background-color: green;
}
.latest {
	margin: 0 10px;
}
.label,
.away {
	padding: 3px;
}

@media only screen and (max-width : 1040px) {
/*scrollbars for top and bottom labels only on desktop*/
div { scrollbar-width: 0 !important; }
div::-webkit-scrollbar { width: 0 !important }
body { font-size: 0.8em; }
}