/*Github Page Only Controls*/
html {
  font-family: Open Sans;
  font-size: 95%;
}
body, a {
  margin: auto;
}
h1, #options {
  text-align: center;
  max-width: 800px;
  margin: auto;	
}

.profile-box {
	touch-action: manipulation;
	line-height: 0;
}
.profile-box-img img {
  max-width: 90vw;
  max-height: 50vh;
}

label, a {
	padding: 5px;
	display: inline-block;
	white-space: nowrap;
}
input {
	vertical-align: bottom;
}
#viewer {
	z-index: 9;
	position: fixed;
	background-color: black;
	width: 100%;
	height: 100%;
	text-align: center;
}

#ssstart, #ssstop {
	padding: 5px;
	border-radius: 8px;
	border: 1px solid gray;
	padding: 4px 8px;
	white-space: normal;
	width: auto;
}

#ssstop {
	background-color: white;
	color: black;
}

.closed {
	display: none;
}

h4 { 
	margin: 0;
}

.snap {
	scroll-snap-type: x mandatory !important;
}

@media only screen and (max-width : 1040px) {
/*scrollbars for top and bottom labels only on desktop*/
div { scrollbar-width: 0 !important; }
div::-webkit-scrollbar { width: 0 !important }
/*adjust font for filters on mobile*/
#orientation > *, #name > * { font-size: 0.8em; }
/*snap on touch is better on mobile than on desktop*/
.profile-box { scroll-snap-align: center; }
}
/*End Github*/

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profile-category {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 5px;
}
.profile-box {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  scroll-snap-align: center;
  white-space: normal;
}
.shadowed {
  border: 1px solid lightgray;
  box-shadow: 3px 3px;
}
.shadowed:active {
  box-shadow: 1px 1px;
  transform: translate(2px,2px);
}
.unshadowed {
	filter: opacity(100%);
	transition: filter 1s;
}
.unshadowed:active {
	filter: opacity(50%);
	transition: filter 0s;
}
.profile-category::-webkit-scrollbar { 
  z-index: 0;
  height: 12px;
}
.profile-category::-webkit-scrollbar-thumb {
  background: black;
}
.profile-category::-webkit-scrollbar-track {
  background: white;
  border-bottom: 1px solid black;
}
.popitem {
    position: absolute;
    background-color: black;
    right: 0;
    left: 0;
    display: none;
}
.popitem { display: block; }
