/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
	font-size: calc(1rem + 0.25vw);
	font-family: Noto Sans, Arial, sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}

body {
	margin: 0;
	text-align: center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden {
	display: none !important;
}

.box {
	margin: 5px;
	vertical-align: top;
	scroll-snap-align: center;
	white-space: normal;
	touch-action: manipulation;
}

.shadowed {
  border: 1px solid lightgray;
  box-shadow: 3px 3px;
}

.shadowed:active {
  box-shadow: 1px 1px;
  transform: translate(2px,2px);
}

.unshadowed {
	filter: opacity(100%);
	transition: filter 1s;
}

/*ON THIS PAGE*/
.input {
	width: 100%;
	max-width: 300px;
	height: 100px;
}

.output {
	overflow: auto;
	white-space: normal;
}

.generate {
	display: block;
	margin: auto;
}

.grid {
	max-width: 360px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.grid .small {
	font-size: 0.7em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grid .name:hover,
.grid .count:hover {
	text-decoration: dotted underline;
}

.search {
	grid-column: 1 / span 2;
}

.header {
	text-decoration: underline;
}

.dialog .grid {
	max-width: 100%;
	grid-template-columns: 60px 1fr 1fr;
}

.settings a {
	color: var(--foreground);
	text-decoration: none;
	display: flex;
	justify-content: center;
    padding: 5px;
}

.mal-container {
	border: 1px solid rgb(var(--foreground));
	background-color: rgb(var(--background));
	box-shadow: 3px 3px rgb(var(--foreground));
	color: rgb(var(--foreground));
	padding: 6px;
	max-width: min(95%,640px);
	/* max-height: min(50vh,450px); */
	margin: auto;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
    font-size: initial;
}

.mal-container img {
	width: 100%;
	max-width: 160px;
	padding: 1px;
	filter: none;
	border: none;
}

.mal-container .mal-associated img {
	width: 70%;
	max-width: 125px;
}

.mal-content,
.mal-associated {
	min-width: 50%;
	max-width: 100%;
	padding-bottom: 1rem;
	text-wrap: wrap;
	margin: auto;
}

.mal-associated {
	width: 50%;
	max-width: 100%;
	padding-bottom: 1rem;
	text-wrap: wrap;
	margin: auto;
	font-size: 0.7em;
}

.mal-associated div:first-child,
.mal-related > div {
	text-align: start;
}

.mal-associated img {
	max-width: 50%;
}

.mal-related {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.mal-related img {
	width: 95%;
}

.mal-related > div {
	max-width: 20%;
	font-size: initial;
}

.mal-related > div:not(:first-child) {
	text-align: center;
	font-size: 0.7em;
	text-wrap: wrap;
}

.mal-related div:first-child {
	min-width: 100%;
}

.mal-description {
	padding-bottom: 1rem;
	min-width: 100%;
	text-wrap: wrap;
	overflow-wrap: break-word;
}

/*DIALOG*/
.dialog dialog {
	background-color: var(--background);
	color: var(--foreground);	
	padding: 10px;
	max-width: 80%;
	max-height: 80%;
    margin: auto;
}

.dialog dialog::backdrop {
	background-color: var(--background);
}

.dialog dialog a {
	background-color: var(--background);
	color: var(--primary);
}

.dialog .close {
	position: absolute;
	right: 1em;
}
