html {
	/* background-color: white; */
	font-family: Open Sans;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#sidebar {
	overflow-x: scroll;
	overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.centered {
	max-width: 640px;
	margin: auto;
	padding: 2px 8px;
}

.list tr:hover > td {
	background-color: transparent;
}

.darked tr:hover > td {
	background-color: transparent;
}

h1 {
	margin: 20px 0;
	margin-bottom: 0;
}

table {
	border: 0;
	border-collapse: collapse;
	/* font-size: 0.9em; */
}

td, th { 
	border: 0;
	padding: 2px 4px; 
	/* font-size: 0.9em; */
	/* border: 1px solid black;  */
}

.empty td {
	border: 1px solid transparent;
}

.darked td, .darked th {
	border: 0;
}

.year {
	padding: 5px;
	cursor: pointer;
}

.player, .list {
	width: 100%;
}

.left, .right {
  float: left;
  width: 30%;
}
.main {
  float: left;
  width: 40%;
}

.result-box {
	border: 1px solid gray;
	display: block;
	width: auto;
	height: auto;
	padding: 5px;
	margin: 5px;

}
.show-result, .input-box {
	padding: 10px;
}

.flexi-input {
	margin: 0 5px;
	border: 0;
	border-bottom: 1px solid;
	text-align: center;
}

@media only screen
   and (min-device-width : 320px)
   and (max-device-width : 960px)
{
	
}

/* @media (prefers-color-scheme: dark) {
	td, th { 
		border: 1px solid white; 
	}

	.darked td, .darked th {
		border: 1px solid black; 
	}
} */

body {
	margin: 0;
}

#mosaic {
  overflow-x: hidden;
  /* overflow-y: scroll; */
  white-space: nowrap;
  height: 100vh;
}

.grid-item {
  float: left;
  /* border: 2px solid hsla(0, 0%, 0%, 0.5); */
  /* border: 2px solid transparent; */
  /* max-height: 200px; */
  max-width: 200px;
  background-color: white;
  border: 1px solid lightgray;
  /* box-shadow: 3px 3px; */
  /* padding: 3px; */
  /* margin: 3px 0; */
}

/* .grid-item:active { */
  /* box-shadow: 1px 1px; */
  /* transform: translate(2px,2px);  */
/* } */

.darked .grid-item {
  border: 1px solid white;
	
}

.grid-item img {
  display: block;
  width: 30vw;
  max-width: 100%;
  cursor: pointer;
}

#settings {
}

#main {
	top: 0;
	position: -webkit-sticky;
	position: sticky;
	height: 95vh;
}

#main:hover {
	background-color: initial;
}

#mosaic {
	height: 95vh;
}

#player {
	height: 400px;
	text-align: center;
	top: 0;
	bottom: 0;
}

.darked tr:hover {
    background-color: transparent;
}

tr:hover > td {
    background-color: transparent;
}