html {
	/* background-color: white; */
	font-family: Open Sans;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
#sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#sidebar {
	overflow-x: scroll;
	overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.centered {
	max-width: 640px;
	margin: auto;
	padding: 2px 8px;
}

.list tr:hover > td {
	background-color: transparent;
}

.darked tr:hover > td {
	background-color: transparent;
}

h1 {
	margin: 20px 0;
	margin-bottom: 0;
}

table {
	border: 0;
	border-collapse: collapse;
	/* font-size: 0.9em; */
}

td, th { 
	border: 0;
	padding: 2px 4px; 
	/* font-size: 0.9em; */
	/* border: 1px solid black;  */
}

.empty td {
	border: 1px solid transparent;
}

.darked td, .darked th {
	border: 0;
}

@media only screen
   and (min-device-width : 320px)
   and (max-device-width : 960px)
{
	
}

body {
	margin: 0;
}

#mosaic {
  overflow-x: hidden;
  white-space: nowrap;
}

.grid-item {
  float: left;
  background-color: white;
  border: 1px solid lightgray;
}

.grid-image {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.grid-image:hover {
    background-size: 250px;
}

.static-banner {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px 10px;
  font-size: 22px;
  color: white;
  background: black;
  border: 1px solid white;
  z-index: 2;
}

.darked .static-banner {
}

.darked .grid-item {
  border: 1px solid white;
	
}

.grid-item img {
}

#settings {
}

#main {
	top: 0;
	position: -webkit-sticky;
	position: sticky;
}

#main:hover {
	background-color: initial;
}

#mosaic {
	/* height: 99vh; */
}

#player {
	/* height: 400px; */
	text-align: center;
	top: 0;
	bottom: 0;
}

.darked tr:hover {
    background-color: transparent;
}

tr:hover > td {
    background-color: transparent;
}
