/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
}

html {
	background-color: var(--background);
	color: var(--foreground);
}

body {
  font-family: Open Sans;
  max-width: 640px;
  margin: auto;
}

a {
	color: var(--primary);
}

button, textarea {
	background-color: var(--background);
	color: var(--foreground);
}

#input-module {
  margin: 10px;
  border-radius: 5px;
}

#input-list {
	resize: vertical;
	width: 100%;
	height: 150px;
	margin: 3px;
    box-sizing: border-box;
}

h1 {
  margin: 20px;
}

button {
  font-family: Open Sans;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  box-shadow: 3px 3px;
  padding: 8px;
  margin: 3px;
}

button:active {
  box-shadow: 1px 1px;
  transform: translate(2px,2px); 
}

.result-box {
	border: 1px solid gray;
	display: block;
	width: auto;
	height: auto;
	padding: 5px;
	margin: 5px;

}
.show-result, .input-box {
	padding: 10px;
}

.flexi-input {
	margin: 0 5px;
	border: 0;
	border-bottom: 1px solid;
	text-align: center;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
	gap: 5px;
}

.settings > a {
    color: var(--foreground);
	text-decoration: none;
}