/*Variables*/
:root {
  --primary: #1b3fff;
  --secondary: #609fff;
  --background: #f4f6ff;
  --foreground: #000;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #001114;
  --foreground: #fff;
}

html {
	font-family: Open Sans;
	background-color: var(--background);
	color: var(--foreground);
	color-scheme: light;
}

html.darked {
	color-scheme: dark;
}

body {
	max-width: 480px;
	margin: auto;
	text-align: center;
	overflow-x: hidden;
	position: relative;
}

.title {
	color: var(--primary);
	flex: 1 0 100%;
}

.title:visited {
	color: var(--secondary);
}

.title:hover {
	text-decoration: none;
}

.tile {
    opacity: 0;
	cursor: pointer;
}

.tile-view {
    opacity: 1;
}

.tile-image {
	max-width: 33%;
	border: 1px solid transparent;
}

.tile-image:hover {
	border: 1px solid var(--foreground);
}

.fit {
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
	background-color: var(--background);
}

.fit .tile-image {
	max-width: 100dvw;
	height: auto;
	border: 1px solid var(--foreground);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	margin: 5px;
}

.fit .tile-image:hover {
	box-shadow: 1px 1px;
	transform: translate(2px, 2px);
}

.material-icons {
	font-size: 36px;
}

#BackBtn {
	position: fixed;
	display: block;
	visibility: visible;
	bottom: 20px;
	left: 20px;
	z-index: 8;
	outline: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
	text-decoration: none;
}

#DarkModeBtn {
	position: fixed;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 20px;
	right: 20px;
	z-index: 7;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	transition: opacity 0.3s;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
	text-decoration: none;
}

#DarkModeBtn:active,
#BackBtn:active {
	box-shadow: 1px 1px;
	transform: translate(2px, 2px);
}

/*MEDIA QUERIES - BUTTON POSITION*/
@media only screen and (max-width: 780px) {
  #BackBtn {
    left: 15px;
  }
  #DarkModeBtn {
    right: 15px;
  }
  #DarkModeBtn,
  #BackBtn {
    bottom: 15px;
  }
}

@media only screen and (min-width: 480px) {
	#contents {
		display: flex;
		flex-wrap: wrap;
		gap: 0 5px;
	}
	
	.title {
		flex: 1 0 100%;
	}
	
	.tile {
		width: 30%;
	}

	.tile-image {
		width: 100%;
		max-width: 100%;
		height: 90px;
		object-fit: cover;
	}
	
	.fit {
		flex: 3 3 auto;
		width: 100%;
	}
	
	.fit .tile-image {
		width: 320px;
		height: auto;
	}
}
