/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
	font-family: Open Sans;
	background-color: var(--background);
	color: var(--foreground);
	color-scheme: light;
}

html.darked {
	color-scheme: dark;
}

body {
	max-width: 480px;
	margin: auto;
	text-align: center;
	overflow-x: hidden;
}

.title {
	color: var(--primary);
}

.title:visited {
	color: var(--secondary);
}

.title:hover {
	text-decoration: none;
}

.tile {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0;
	cursor: pointer;
}

.tile-view {
    opacity: 1;
}

.tile-image {
	max-width: 33%;
}
