/*Variables*/
:root {
	--primary: 27, 63, 255;
	--secondary: 96, 159, 255;
	--background: 244, 246, 255;
	--foreground: 0, 0, 0;
	--accent: 221, 221, 221;
}

.darked:root {
	--primary: 0, 228, 255;
	--secondary: 0, 171, 191;
	--background: 0, 17, 20;
	--foreground: 255, 255, 255;
	--accent: 69, 69, 69;
}

html {
	background-color: rgb(var(--background));
	color: rgb(var(--foreground));
	color-scheme: light;
}

html.darked {
	color-scheme: dark;
}

body {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: calc(1rem + 0.25vw);
}

.banner {
	position: sticky;
	top: 0;
}

.banner div {
	width: 100%;
	background-color: rgb(var(--background));
}

.input:focus {
	font-size: 2em;
}

.title {
	color: rgb(var(--primary));
}

.title:visited {
	color: rgb(var(--secondary));
}

.title:hover {
	text-decoration: none;
}

.tile {
    opacity: 0;
	line-height: 0;
}

.tile-view {
    opacity: 1;
}

.tile-image {
	border: 2px solid transparent;
	width: 160px;
	height: 90px;
	object-fit: cover;
	cursor: pointer;
}

.tile-image:hover {
	border: 2px solid rgb(var(--foreground));
}

.fit .tile-image {
    width: 100%;
	height: auto;
}

.material-icons {
	font-size: 36px;
}

#BackBtn {
	position: fixed;
	display: block;
	visibility: visible;
	bottom: 20px;
    left: calc(50% - 320px);
	z-index: 8;
	outline: none;
	color: rgb(var(--foreground));
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid rgb(var(--foreground));
	background-color: rgb(var(--background));
	box-shadow: 3px 3px rgb(var(--foreground));
	border-radius: 8px;
	transition: background .2s linear;
	text-decoration: none;
}

#DarkModeBtn {
	position: fixed;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 20px;
    right: calc(50% - 320px);
	z-index: 7;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: rgb(var(--foreground));
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	transition: opacity 0.3s;
	border: 1px solid rgb(var(--foreground));
	background-color: rgb(var(--background));
	box-shadow: 3px 3px rgb(var(--foreground));
	border-radius: 8px;
	transition: background .2s linear;
	text-decoration: none;
}

#DarkModeBtn:hover,
#BackBtn:hover {
	box-shadow: 1px 1px;
	transform: translate(2px, 2px);
}

/*MEDIA QUERIES - BUTTON POSITION*/
@media only screen and (max-width: 780px) {
  #BackBtn {
    left: 15px;
  }
  #DarkModeBtn {
    right: 15px;
  }
  #DarkModeBtn,
  #BackBtn {
    bottom: 15px;
  }
}

@media only screen and (min-width: 320px) {
	body {
		width: 320px;	
	}
	
	.contents {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
	.title {
		grid-column: 1 / 3;
	}

	.fit {
		grid-column: 1 / 3;
	}
}

@media only screen and (min-width: 492px) {
	body {
		width: 492px;
	}
	
	.contents {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.title {
		grid-column: 1 / 4;
	}

	.fit {
		grid-column: 1 / 4;
	}
}

