/*Variables*/
:root {
	--primary: 27, 63, 255;
	--secondary: 59, 102, 222;
	--tertiary: 221, 221, 255;
	--background: 255, 255, 255;
	--foreground: 0, 20, 20;
	--accent: 221, 221, 221;
}

.darked:root {
	--primary: 50, 228, 255;
	--secondary: 36, 159, 179;
	--tertiary: 22, 98, 100;
	--background: 0, 0, 0;
	--foreground: 245, 245, 255;
	--accent: 69, 69, 69;
}

html {
	font-family: Noto Sans;
	background-color: rgb(var(--background));
	color: rgb(var(--foreground));
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	text-align: center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

button,
input {
	all: unset;
}

a {
	color: rgb(var(--foreground));
	text-decoration: none;
}

a:hover {
	color: rgb(var(--primary));
}

label {
	width: 300px;
	text-align: start;
	font-size: 0.8em;
}

input[type="range"] {
	width: 100%;
}

ul {
	width: 80%;
	text-align: start;
	text-wrap-style: pretty;
	font-size: 0.8em;
}

.bi {
	font-size: 2em;
	padding: 4px;
}

.log {
	position: fixed;
	left: 0;
	top: 0;
	text-decoration: none;
	text-align: start;
	background-color: rgba(var(--background), 0.6);
}

.log::after {
	content: var(--message);
	display: inline-block;
	width: calc(100dvw - 9rem);
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.8em;
    line-height: 2em;
}

.log:not(:has(.log-list.hidden))::after {
	content: "";
}

.log-list {
	width: 100%;
	max-width: 720px;
	height: 30vh;
	font-size: 0.8em;
	overflow: auto;
	resize: vertical;
}

.settings {
	position: fixed;
	right: 0;
	top: 0;
	text-decoration: none;
	font-weight: bold;
	text-align: end;
	background-color: rgb(var(--background));
}

.home {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	text-decoration: none;
	font-weight: bold;
}

.action {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 4em;
	width: fit-content;
	margin: auto;
}

.action a {
	font-weight: bold;
	text-decoration: none;
	font-size: 1em;
	border: 2px solid rgb(var(--foreground));
	background-color: rgb(var(--background));
	border-radius: 99px;
	padding: 4px 12px;
}

.action a::before {
	padding-right: 8px;
}

.action a:hover {
	border: 2px solid rgb(var(--primary));
}

.destinations {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.destinations button {
	all: unset;
	border-radius: 8px;
	padding: 4px 12px;
	cursor: pointer;
	margin: auto;
}

.destinations button::before {
	content: "";
	width: 4em;
	height: 4em;
	display: block;
	margin: auto;

	background-image: var(--icon);
	background-size: contain;
	background-repeat: no-repeat;
}

.destinations button:hover,
.destinations button[data-active] {
	background-color: rgb(var(--secondary));
}

.dest-label {
	padding-top: 8px;
	font-weight: normal;
	font-size: 0.8em;
}

.mission {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 1fr auto;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border-radius: 8px;
}

.mission > div {
	overflow: auto;
}

.mission div {
	white-space: pre-wrap;
}

.mission:hover {
	background-color: rgb(var(--accent));
}

.name:hover {
	text-decoration: underline;
	cursor: pointer;
}

.desc {
	/* row-start, col-start, row-end, col-end */
	grid-area: 2 / 1 / 4 / 3;
	place-self: center;
}

.status {
	/* row-start, col-start, row-end, col-end */
	grid-area: 3 / 3 / auto / auto;
	border-radius: 99px;
	border: 2px solid rgb(var(--foreground));
	cursor: pointer;
}

.status:hover {
	background-color: rgb(var(--foreground));
	color: rgb(var(--background));
}

.viewer {
	z-index: 9;
	position: fixed;
	background-color: rgb(var(--background));
	width: 100%;
	height: 100%;
	padding-top: 0;
	text-align: center;
	transition: opacity 0.3s, visibility 0.3s;
	top: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.viewer .editor {
	width: 80%;
	resize: none;
}

.viewer .preview,
.viewer .close {
	border: 0;
	border-radius: 16px;
	padding: 8px 16px;
	margin: 8px;
	height: 40px;
	cursor: pointer;
}

.viewer .preview:hover,
.viewer .preview:focus,
.viewer .close:hover,
.viewer .close:focus {
	background-color: rgb(var(--accent));
	color: rgb(var(--foreground));
}

.hidden {
	display: none;
}

.page {
	width: 100%;
	height: calc(100dvh - 250px);
	overflow: auto;
}

.node+foreignObject+foreignObject[data-content]::before {
	content: attr(data-content);
	color: rgb(var(--background));
	background-color: rgb(var(--foreground));
	white-space: pre-wrap;
	display: inline-block;
}

.node+foreignObject div,
.node+foreignObject+foreignObject div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: auto hidden;
}

.node+foreignObject:has(object)+foreignObject div {
	position: absolute;
	left: 0;
	bottom: 2px;
	height: auto;
	font-size: 0.8em;
}

.node+foreignObject object {
	object-fit: cover;
}

#train[data-content]::before {
	content: attr(data-content);
	color: rgb(var(--background));
	background-color: rgb(var(--foreground));
	white-space: pre-wrap;
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 0.7em;
}

/*DIALOG*/
dialog.dialog {
	background-color: rgb(var(--background));
	color: rgb(var(--foreground));
	padding: 10px;
	max-width: 360px;
	max-height: 80dvh;
	overflow: auto;
	margin: auto;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

dialog.dialog a {
	background-color: rgb(var(--background));
	color: rgb(var(--primary));
}