/*Variables*/
:root {
	--primary: 27, 63, 255;
	--secondary: 96, 159, 255;
	--background: 244, 246, 255;
	--foreground: 0, 0, 0;
	--accent: 221, 221, 221;
}

.darked:root {
	--primary: 0, 228, 255;
	--secondary: 0, 171, 191;
	--background: 0, 17, 20;
	--foreground: 255, 255, 255;
	--accent: 69, 69, 69;
}

body {
	display: block;
	padding: 0 10px;
	margin: auto;
	color: rgb(var(--foreground));
	background-color: rgb(var(--background));
	transition: background .2s linear;
	line-height: 1.5;
	font-size: calc(1rem + 0.25vw);
}

a {
	color: rgb(var(--primary));
}

a:hover {
	color: rgb(var(--foreground));
}

.tr-caption {
	font-size: 80%;
	max-width: 680px;
	padding: 0 0.2em;
}

.post {
    padding: 4px;
}

.latest .publish {
	position: absolute;
	right: 8px;
}

.latest {
	box-shadow: 3px 3px rgb(var(--foreground));
	border: 2px solid rgb(var(--foreground));
	position: relative;
	display: inline-block;
	width: min(95%, 410px);
	margin: 4px 2px;
	vertical-align: top;
	font-size: initial;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 8px;
	transition: background .2s linear;
}

.latest:hover {
	box-shadow: 1px 1px;
	transform: translate(2px,2px);
}

.latest a {
	font-weight: bold;
	line-height: initial;
	overflow-wrap: anywhere;
}

.latest .thumb {
	display: flex;
	gap: 0 6px;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.latest .thumb {
	line-height: 0;
}

.latest .thumb a {
	width: 100%;
}

.latest:hover:has(.anchors) .thumb a {
	margin-bottom: 2em;
}

.latest:hover .thumb .anchors a {
	margin-bottom: 0;
}

.latest .thumb img {
	border-radius: 5px;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.latest .anchors {
	display: none;
	position: absolute;
	width: calc(100% - 156px);
	max-height: 33%;
	left: auto;
	top: auto;
	bottom: 0;
	right: 0;
	overflow: auto;
	padding: 3px 0;
	scrollbar-width: none; /* Firefox */
}

.latest .anchors::-webkit-scrollbar {
	width: 0 !important
} /* Safari and Chrome */

.latest:hover .anchors {
	display: flex;
	align-content: flex-start;
}

.latest .anchors a {
	font-size: 0.8em;
	padding: 3px 0;
	width: auto;
}

.latest .anchors a:hover {
	color: rgb(var(--foreground));
}

.latest[data-tags="TheFanfiction"] img {
    object-fit: cover;
    object-position: 50% 0%;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
}

.archive-list {
	padding-bottom: 20px;
}

.archive-list.flip .thumb {
	flex-direction: row;
}

.archive-list.flip .anchors {
	right: auto;
	left: 0;
}

.archive-list.flip .publish {
	right: auto;
	left: 8px;
}

.post-body.entry-content {
	max-width: 66ch;
	overflow-x: hidden;
	margin: auto;
}

.action-menu.bottom-left {
	left: calc(50% - 39ch);
}

.action-menu.bottom-right {
	right: calc(50% - 38ch);
}

.action-menu.bottom-left.hide {
	opacity: 0;
	z-index: -1;
}

.action-menu.bottom-right.hide {
	opacity: 0;
	z-index: -1;
}

.page-header {
	width: 96%;
	max-width: 66ch;
	position: fixed;
	padding-top: 5px;
	top: 0;
	opacity: 0;
	z-index: -1;
	background-color: rgb(var(--background));
	transition: opacity .2s ease-in-out;
}

.page-header.show {
	opacity: 1;
	z-index: 1;
}

.page-header.hide {
	opacity: 0;
	z-index: -1;
}

.page-header .hashtags a {
	display: inline-block;
	white-space: nowrap;
}

a.material-icons {
	text-decoration: none;
}

span.small-icons {
    vertical-align: sub;
}

span.emoji {
	white-space: nowrap;
}

.post-tags {
	font-size: 0.9em;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.post-tags.filters {
    justify-content: center;
}

.post-tags h4 {
	margin: 0;
}

.post-tags a {
	border-radius: 8px;
	box-shadow: 3px 3px rgb(var(--foreground));
	border: 1px solid rgb(var(--foreground));
	background-color: rgb(var(--background));
	padding: 6px;
    white-space: nowrap;
	text-decoration: none;
	transition: background .2s linear;
}

.post-tags a:visited {
	color: rgb(var(--primary));
}

.post-tags a.selected,
.post-tags a:hover {
	box-shadow: 1px 1px;
	transform: translate(2px, 2px);
	color: rgb(var(--foreground));
}

.thumbnail {
	padding-top: 1em;
}

.thumbnail .thumbnail-initial[data-index][data-length]::before {
    content: attr(data-index) " / " attr(data-length);
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    font-size: 0.8em;
    text-align: center;
}

.emoji {
	font-family: Noto Color Emoji;
}

div.hidden,
a.fab.hidden {
	display: none;
	height: 0;
}

.action-menu.bottom-left .fab:not([href=""]) {
	display: initial;
    height: auto;
}

/*Fixes from universal font-size change*/
.head-title {
	font-size: 1.125em;
}

.skip-section {
	font-size: 0.625em;	
}

/*Fixes from Blogger*/
.tr-caption-container {
    padding: 4px;
    margin-bottom: .5em;
}

.published {
	text-transform: uppercase;
}

.material-icons {
	font-size: 2em;
}

.inverted {
  filter: invert(1);
}

.darked .inverted {
  filter: invert(0);
}

.custom-table tr:hover > td {
	background-color: lightgray;
}

.darked .custom-table tr:hover > td {
	background-color: gray;
}

/*Custom viewer*/
.viewer {
	z-index: 9;
	position: fixed;
	background-color: rgb(var(--background));
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
	overflow: hidden;
	
    display: flex;
    align-content: center;
    justify-content: center;
    /* align-items: center; */
}

.viewer.open {
	visibility: visible;
	opacity: 1;	
}

.viewer-nav.prev {
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	z-index: 11;
}

.viewer-nav.prev:active {
	background-image: linear-gradient(to right, rgba(var(--background), 1), rgba(var(--background), 0));
}

.viewer.hints .viewer-nav.prev::before {
	content: "⬅️";
	position: absolute;
	left: 10px;
	height: 100%;
	z-index: 10;
	font-size: 4em;
}

.viewer-nav.next {
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 25%;
	height: 100%;
	z-index: 11;
}

.viewer-nav.next:active {
	background-image: linear-gradient(to left, rgba(var(--background), 1), rgba(var(--background), 0));
}

.viewer.hints .viewer-nav.next::before {
	content: "➡️";
	position: absolute;
	right: 10px;
	height: 100%;
	z-index: 10;
	font-size: 4em;
}

.viewer img {
	margin: auto;
	left: 0;
	right: 0;
	position: fixed;
	object-fit: contain;
}

.loader {
	position: absolute;
	font-size: 1.5em;
	width: 100%;
    height: 100%;
	margin: auto;
	padding: 10px;
	z-index: 11;
	display: flex;
    align-items: center;
	justify-content: center;
}

.viewer .overview {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
	height: 100dvh;
	width: 100dvw;
}

.viewer .overview .item {
    width: min(80%, 256px);
    height: 3.5dvh;
}

.viewer .overview img {
	border: 2px solid transparent;
	cursor: pointer;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.viewer .overview .selected img,
.viewer .overview .item img:hover {
	border: 2px solid rgb(var(--primary));
}

/*MEDIA QUERIES - MOBILE SCREENS*/
@media only screen and (max-width: 880px) {
	.action-menu.bottom-left {
		left: 15px;
		transition: transform 0.2s ease-in-out;
		flex-direction: row-reverse;
	}
	.action-menu.bottom-right {
		right: 15px;
		transition: transform 0.2s ease-in-out;
		flex-direction: row;
	}
	.action-menu.bottom-left.show {
		transform: translateX(0);
	}
	.action-menu.bottom-right.show {
		transform: translateX(0);
	}
	.action-menu.bottom-left.hide {
		transform: translateX(-15em);
		opacity: 1;
		z-index: 1;
	}
	.action-menu.bottom-right.hide {
		transform: translateX(15em);
		opacity: 1;
		z-index: 1;
	}
	.post span {
		display: block;
	}
	.input-result .post {
		font-size: 0.875em;
	}
	.latest:hover:has(.anchors) .thumb > a {
		margin-bottom: 3em;
	}
	.latest:hover .publish {
		display: none;
	}
}

/*MEDIA QUERIES - CLOSED FOLD SCREENS*/
@media only screen and (max-width: 400px) {
	.thumb img {
		max-width: 100%;
	}
	.latest:hover .anchors {
		width: calc(100% - 108px);
	}
	.action-menu.bottom-left,
	.action-menu.bottom-right {
		flex-direction: column;
	}
}

/*MEDIA QUERIES - HOMEPAGE*/
@media only screen and (min-width: 880px) {
	.action-menu.home.bottom-left {
		left: 20px;
	}

	.action-menu.home.bottom-right {
		right: 15px;
	}
}

/*MEDIA QUERIES - REDUCED MOTION*/
@media (prefers-reduced-motion: reduce) {
	.fadeIn {
		animation: none;
	}
	body,
	.latest,
	.viewer,
	.page-header a,
	.action-menu.bottom-left,
	.action-menu.bottom-right {
		transition: none;
		transform: none;
	}
}

/*MEDIA QUERIES - FOR PRINT ON WHITE PAPER*/
@media print {
	.darked:root {
		--primary: 27, 63, 255;
		--secondary: 96, 159, 255;
		--background: 255, 255, 255;
		--foreground: 0, 0, 0;
		--accent: 221, 221, 221;
	}
}