/*Variables*/
:root {
  --primary: #1b3fff;
  --secondary: #609fff;
  --background: #f4f6ff;
  --foreground: #000;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #001114;
  --foreground: #fff;
}

body {
	display: block;
	padding: 0 10px;
    max-width: 900px;
	margin: auto;
	color: var(--foreground);
	background-color: var(--background);
	transition: background .2s linear;
}

.page-header {
	width: 96%;
	max-width: 680px;
	position: fixed;
    padding-top: 5px;
	top: 0;
	z-index: 1;
	background-color: var(--background);
	transition: opacity 0.5s;
	opacity: 0;
    white-space: break-spaces;
}

.show-header {
	opacity: 1;
	z-index: 2;
}

.page-header .hashtags a {
	padding: 3px;
    display: inline-block;
	white-space: nowrap;
}

a:hover {
  color: var(--foreground);
}

.tr-caption {
    font-size: 0.8em;
    max-width: 680px;
}

.post-body {
    overflow-x: hidden;
}

.Post {
	padding: 2px;
}

.Post .home-thumb {
	border: 2px solid var(--primary);
	object-fit: cover;
	width: 150px;
	height: 150px;
    flex: 1 0 auto;
}

.latest-post {
    display: inline-block;
	padding: 12px;
	width: 320px;
    margin: 4px 2px;
	vertical-align: top;
}

.latest-post a {
    color: var(--primary);
	font-weight: bold;
}

.latest-post a:hover {
    color: var(--foreground);
}

.latest-post-thumb {
    display: flex;
	gap: 0 5px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
	position: relative;
}

.anchors {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
	position: absolute;
	background-color: var(--background);
	margin-left: 2px;
    padding-top: 3px;
	width: 150px;
}

.latest-post:hover .anchors {
    display: flex;
}

.anchors a {
    color: var(--primary);
	font-size: 0.7em;
	padding-bottom: 5px;
}

.anchors a:hover {
    color: var(--foreground);
}

.TheStatement,
.hidden {
	display: none;
	height: 0;
}

@media only screen and (min-width: 1024px) {
	body {
		font-size: 18px;
	}
}

@media only screen and (max-width: 1023px) {
	body {
		font-size: 14px;
	}
}

#blog-archive-list {
	padding-bottom: 20px;
}

#contents {
	max-width: 680px;
	overflow-x: hidden;
	margin: auto;
	right: 0;
	left: 0;
}

#BackBtn {
	position: fixed;
	display: block;
	visibility: visible;
	bottom: 20px;
	left: 20px;
	z-index: 8;
	outline: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
}

#LeftBtn {
	position: fixed;
	display: block;
	visibility: visible;
	bottom: 20px;
	left: 20px;
	z-index: 8;
	outline: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
}

#RightBtn {
	position: fixed;
	display: block;
	visibility: visible;
	bottom: 20px;
	left: 80px;
	z-index: 8;
	outline: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
}

#DarkModeBtn {
	position: fixed;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 20px;
	right: 20px;
	z-index: 7;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	transition: opacity 0.3s;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
}

#EmojiBtn {
	position: fixed;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 84px;
	right: 20px;
	z-index: 7;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	transition: opacity 0.3s;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
}

#PopupBtn {
	position: fixed;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 148px;
	right: 20px;
	z-index: 7;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	transition: opacity 0.3s;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
}

#PopupBtn:active,
#EmojiBtn:active,
#DarkModeBtn:active,
#BackBtn:active,
#LeftBtn:active,
#RightBtn:active {
	box-shadow: 1px 1px;
	transform: translate(2px, 2px);
}

#SidebarBtn, #SearchBtn {
	display: none;
}

a.material-icons {
	text-decoration: none;
}

div.home-tags a {
	cursor: pointer;
	white-space: nowrap;
}

span.post-tags {
	border-radius: 8px;
	border: 1px solid var(--foreground);
	padding: 5px;
	margin: 0 5px;
}


/*Fixes from Blogger*/
h2 {
	margin: 0;
}

.published {
	text-transform: uppercase;
}

.material-icons {
	font-size: 36px;
}

.inverted {
  filter: invert(1);
}

.darked .inverted {
  filter: invert(0);
}

.custom-table tr:hover > td {
	background-color: lightgray;
}

.darked .custom-table tr:hover > td {
	background-color: gray;
}

/*Custom viewer*/
#viewer {
	z-index: 9;
	position: fixed;
	background-color: var(--background);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
	overflow: hidden;
	
    display: flex;
    align-content: center;
    justify-content: center;
    /* align-items: center; */
}

#viewer-prev {
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	z-index: 11;
}

#viewer-next {
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
	height: 100%;
	z-index: 11;
}

#viewer-next:active {
	opacity: 0.5;
	background-image: linear-gradient(to left, var(--background), transparent);
}

#viewer-prev:active {
	opacity: 0.5;
	background-image: linear-gradient(to right, var(--background), transparent);
}

#viewer img {
	margin: auto;
	left: 0;
	right: 0;
	position: fixed;
	object-fit: contain;
}

/*MEDIA QUERIES - BUTTON POSITION*/
@media only screen and (max-width: 780px) {
  #BackBtn,
  #LeftBtn {
    left: 15px;
  }
  #PopupBtn,
  #EmojiBtn,
  #DarkModeBtn {
    right: 15px;
  }
  #DarkModeBtn,
  #BackBtn,
  #LeftBtn,
  #RightBtn {
    bottom: 15px;
  }
  #RightBtn {
    left: 75px;
  }
  #EmojiBtn {
    bottom: 75px;	  
  }
  #PopupBtn {
    bottom: 135px;	  
  }
  .Post span {
	display: block;
  }
}

/*MEDIA QUERIES - REDUCED MOTION*/
@media only screen and (max-width: 480px) {
	body,
	.header,
	#PopupBtn,
	#EmojiBtn,
	#LeftBtn,
	#RightBtn,
	#BackBtn,
	#DarkModeBtn
	{
		transition: none;
	}
}

@media (prefers-reduced-motion: reduce) {
	.fadeIn {
		animation: none;
	}
	body,
	.header,
	#PopupBtn,
	#EmojiBtn,
	#LeftBtn,
	#RightBtn,
	#BackBtn,
	#DarkModeBtn
	{
		transition: none;
	}
}
