/*Variables*/
:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000000;
  --foreground: #ffffff;
}

/*Klassic Note: Website Additions*/
#hashtags {
	width: 100%;
	color: var(--primary);
	display: flex;
    flex-wrap: wrap;
	padding-bottom: 0.5em;
	/* font-size: 0.8em; */
}

#hashtags a {
	padding: 3px;
}

#SidebarBtn {
  position: fixed;
  display: none;
  visibility: visible;
  bottom: 20px;
  left: 20px;
  z-index: 9;
  outline: none;
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
}

#GoToTopBtn {
  position: fixed;
  display: block;
  /* opacity: 0; */
  bottom: 20px;
  right: 20px;
  z-index: 7;
  outline: none;
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
  /* transition: opacity 0.3s; */
}

#SearchBtn {
  position: fixed;
  display: none;
  /* opacity: 1; */
  bottom: 20px;
  right: 20px;
  z-index: 7;
  outline: none;
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
  /* transition: opacity 0.3s; */
}

#CloseBtn {
  position: fixed;
  display: none;
  /* opacity: 0; */
  top: 20px;
  right: 20px;
  z-index: 9;
  outline: none;
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
  /* transition: opacity 0.3s; */
}

#ShareBtn {
	position: fixed;
	display: block;
	visibility: visible;
	opacity: 1;
    bottom: 95px;
	right: 20px;
	z-index: 7;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	/* transition: opacity 0.3s; */
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	/* transition: background .2s linear; */
}

#Overlay {
	background-color: transparent;
	position: fixed;
	opacity: 0.5;
	width: 100%;
	height: 120%;
	bottom: 0;
	top: 0;
	left: 0;
	z-index: 8;
}

#Label1 > div,
#ShareBtn,
#SidebarBtn,
#GoToTopBtn,
#SearchBtn,
#CloseBtn {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar .widget,
#ShareBtn,
#SidebarBtn,
#GoToTopBtn,
#SearchBtn,
#CloseBtn {
  border: 1px solid var(--foreground);
  background-color: var(--background);
  box-shadow: 3px 3px var(--foreground);
  border-radius: 8px;
}

#Text1:hover,
#PageList1:hover,
#LinkList1:hover,
#BlogArchive1:hover,
#HTML1:hover,
#SidebarBtn:hover,
#GoToTopBtn:hover,
#SearchBtn:hover,
#ShareBtn:hover,
#CloseBtn:hover {
  box-shadow: 1px 1px;
  transform: translate(2px, 2px);
}

#comments {
  padding: 0;
  background: none;
}

#Label1 ul {
  padding: 0 0 0 1em;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#Label1 ul::-webkit-scrollbar {
  width: 0 !important
} /* Safari and Chrome */

.head-prefix {
	background-color: var(--secondary);
	border-radius: 5px;
	padding: 3px 5px;
	text-align: center;
	vertical-align: text-bottom;
}

.latest-post {
	box-shadow: 3px 3px var(--foreground);
	border: 1px solid var(--foreground);
	margin: 12px auto;
	border-radius: 8px;
	padding: 6px;
	overflow: hidden;
}

.latest-post .summary {
	color: var(--foreground);
}

.latest-post:hover .latest-post-title {
	color: var(--foreground);
	/* text-decoration: underline; */
}

.latest-post:hover {
	box-shadow: 1px 1px;
	transform: translate(2px,2px);
}

.latest-post-statement {
    padding: 2px;
    line-height: initial;
}

.latest-post-thumb {
	border-color: transparent;
}

.latest-post .outer {
    display: flex;
    gap: 10px;
}

.latest-post .outer div:first-child {
    position: relative;	
    line-height: 0;
}

.latest-post .outer img {
	border-radius: 4px;	
    object-fit: cover;
}

.latest-post .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.latest-post .summary {
    max-height: 76px;
    overflow: hidden;
}

.anchors::-webkit-scrollbar {
  width: 0 !important
} /* Safari and Chrome */

.anchors {
    display: none;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
	position: absolute;
	background-color: var(--background);
	width: 150px;
    height: 140px;
	top: 2px;
    left: 2px;
    overflow-x: hidden;
    padding: 5px 0;
	gap: 5px;
	scrollbar-width: none; /* Firefox */
}

.latest-post:hover .anchors {
    display: flex;
}

.latest-post .anchors a {
    color: var(--foreground);
	font-size: 0.88em;
    white-space: nowrap;
}

.latest-post .anchors a:hover {
    color: var(--primary);
	text-decoration: underline;
}

.hidden,
.news-thumbnail {
	display: none;
}

/*Website Adjustments*/
/*By Tag*/
body {
  display: none;
  overflow-x: hidden;
}

blockquote {
	margin: 1em;
}

a {
  color: var(--primary);
}

a img,
table div[style|=background] {
    box-sizing: border-box;
	border: 2px solid var(--secondary);
}

a img:hover,
table div[style|=background]:hover {
    border-color: var(--primary);
}

a:hover {
  text-decoration: none;
}

/*By Class*/
.tr-caption-container {
    padding: 4px;
    margin-bottom: .5em;
}

.failed {
	display: none;
	border: 0;
}

.flip-arrow {
  transform: rotate(180deg);
}

.material-icons {
  font-size: 48px;
}

span.small-icons {
    font-size: 18px;
    padding-right: 2px;
    margin-top: -1px;
}

.center-cells td {
	text-align: center;
}

.title > a:hover {
  color: var(--primary);
}

.date-header {
  text-transform: uppercase;
  transition: height 1s;
}

.post-title,
.post-header {
  margin: 0 !important;
}

.post-title a,
.post-title.entry-title {
  font: normal bold 22px 'Trebuchet MS', Trebuchet, sans-serif;
  background-color: var(--background);
}

.content-outer {
  padding-top: 0;
}

.content-cap-bottom.cap-bottom {
  height: 30px;
}

.footer-inner {
  padding: 10px 10px;
}

.main-inner {
  padding: 0;
}

.main-inner .column-center-inner {
  padding-top: 20px;
}

.post-body a {
	text-decoration: underline;
}

.widget .post-body ul {
  padding: 0 1.5em;
}

.quickedit,
.status-msg-wrap,
.post-count,
.display-none {
  display: none;
}

.separator {
  padding: 0 10px;
}

.HTML {
  border: none;
  padding: 0;
}

.BlogArchive ul li {
    padding-left: 0;
    text-indent: 0;
}

.BlogArchive ul ul li {
    padding-left: 0;
    text-align: right;
}

.toggle {
    font-size: medium;
}

.latest-post,
.column-left-outer,
.search-expander,
.bar-left,
.bar-right {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.search-expander {
	text-align: center;
	margin: 5px;
}

.search-expander i {
	font-size: 24px;
	vertical-align: bottom;
	cursor: pointer;
	padding-bottom: 1px;
	font-weight: bold;
}

.widget.LinkList li {
    white-space: nowrap;
    overflow-x: hidden;
}

.homepage-column-center-inner {
	margin-top: -15px;
}

.list-label-widget-content {
  font-size: 14px;
}

.main-inner .date-outer {
  margin-bottom: 0;
}

.tabs-inner .widget li a,
.footer-inner .widget li a {
	display: flex;
	padding: 0;
}

.tabs-inner .widget li {
  padding: 12px;
}

.tabs-inner .widget li span {
  line-height: initial;
  display: block;
}

.tabs-inner .widget li,
.footer-inner .widget li {
  box-shadow: 3px 3px var(--foreground);
  border: 1px solid var(--foreground);
  margin: 3px;
  border-radius: 8px;
}

.tabs-inner .widget li:hover,
.footer-inner .widget li:hover {
  box-shadow: 1px 1px;
  transform: translate(2px, 2px);
}

.mobile-desktop-link {
  display: none;
}

.mobile-index-title {
  width: initial;
}

.sidebar .widget {
	padding: 10px;
    margin: 6px 0;
}

#sidebar-left-1 ul {
  list-style: none;
  padding: 0;
}

#PageList1 div ul li:first-child a {
  font: normal bold 14px Open Sans;
  color: var(--foreground);
}

#sidebar-left-1.sidebar.section {
  margin: 0 8px 0 15px;
}

#blog-pager.blog-pager {
	margin: 0;
	padding: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*Search Bar*/
.header-inner .Header .descriptionwrapper {
  margin-bottom: 0;
}

.gsc-search-button {
  display: none;
}

.gsc-input {
  padding: 2px 6px;
  font: inherit;
  width: 200px;
}

/*Small Screen Width*/
@media only screen and (max-width: 780px) {
	#SidebarBtn{
		left: 15px;
	}
	#SidebarBtn,
	#GoToTopBtn,
	#SearchBtn  {
		bottom: 15px;
	}
	#ShareBtn {
		bottom: 80px;		
	}
	#ShareBtn,
	#CloseBtn,
	#GoToTopBtn,
	#SearchBtn  {
		right: 15px;
	} 
	#CloseBtn {
		top: 15px;
	}
	#Label1 {
		margin: 0 5px;
	}
	#footer-3 {
		margin: 0;
	}
	.header-inner .Header .titlewrapper,
	.header-inner .Header .descriptionwrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.main-inner .column-center-inner .section {
		margin: 0 5px;
	}
	.material-icons {
		font-size: 36px;
	}
	.twitter-tweet {
		width: min(100%, 320px) !important;
	}
}

/*Middle Screen Width*/
@media only screen and (max-width: 1024px) {
  body {
	min-width: auto !important;
	max-width: 760px !important;
	margin-left: auto;
	margin-right: auto;
  }
  #SidebarBtn {
	display: block;
  }
  #header-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  #Label1 {
    margin: 0 5px;
  }
  #Label1 ul {
    white-space: nowrap;
    overflow-x: hidden;
    height: 68px;
    padding: 0 10px;
  }
  #Label1 ul:hover {
    overflow-x: scroll;
  }
  #Label1 li {
    float: none;
    display: inline-block;
    padding: 12px;
  }
  #CustomBlogSearch {
    max-width: 220px;
    margin: auto;
    width: 100%;
    display: none;
  }
  #SidebarBtn {
    display: block;
	left: 15px;
  }
  .footer-inner {
    padding: 10px 0;
  }
  .column-left-inner>aside {
    display: none;
  }
  .content-cap-bottom.cap-bottom {
    height: 60px;
  }
  .columns.fauxcolumns {
    padding-left: 0 !important;
  }
  .tabs-inner .widget li,
  .footer-inner .widget li {
    float: none;
    display: inline-block;
    margin: 3px;
  }
  .content-inner {
    overflow-x: hidden;
    padding: 0 5px 0 0;
  }
  .content-outer {
    min-width: auto !important;
  }
  .footer-inner .widget a:link {
    text-decoration: none;
  }
  .footer-inner .widget a:hover {
    color: var(--foreground);
    text-decoration: none;
  }
  /*Fix post newer older post links*/
  .blog-mobile-link,
  .home-link {
	display: none;
  }
  .bar-left {
    position: absolute;
    font-size: 48px;
    background-image: linear-gradient(to right, var(--background), transparent);
    height: 68px;
  }
  .bar-right {
    position: absolute;
    right: 0;
    font-size: 48px;
    background-image: linear-gradient(to left, var(--background), transparent);
    height: 68px;
  }
  .search-expander i {
    font-size:36px;
	font-weight:normal;
  }
}

/*Large Screen Width*/
@media only screen and (min-width: 1025px) {
  #CustomBlogSearch {
    position: absolute;
    z-index: 50;
    right: 26px;
    top: 100px;
    width: 200px;
    display: none;
  }
  .tabs-inner {
	margin: 0;
  }
  .bar-left,
  .bar-right {
    display: none;
  }
  .blog-mobile-link,
  .home-link {
    display: none;
  }
  .main-inner {
    padding: 10px 0;
  }
  .sidebar .widget a:hover,
  .footer-inner .widget a:hover {
    text-decoration: none;
    color: var(--foreground);
  }
  .footer-outer {
    background-color: var(--background);
    padding-bottom: 18px;
  }
}

/*Custom abbr hover (Unsupported)*/
abbr.published {
  animation: none;
}

abbr.imgpop {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  text-decoration: none;
  color: var(--primary);
  text-decoration: underline;
}

abbr.imgpop img {
  display: none;
}

abbr.imgpop:hover {
  animation: none;
}

abbr.imgpop:hover img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  position: absolute;
  display: inline;
  left: 0;
  right: 0;
  margin: 25px auto;
  max-height: 150px;
  border-radius: 3px;
  z-index: 99;
}

/*Pop-up content frame*/
.popup .normal {
  color: var(--primary);
  text-decoration: underline;
}

.popup .initial * img {
  border: 1px solid transparent;
}

.popup,
.popup:hover .normal {
  display: inline;
}

.popup .pop,
.popup:hover .initial {
  display: none;
}

.popup:hover .pop {
  display: block;
  position: absolute;
  display: block;
  z-index: 99;
  /*for allowing mouseover width of content*/
  text-align: center;
  /*for iframe elements*/
  left: 0;
  right: 0;
}

.popup:hover * img {
  border: 1px solid transparent;
  max-width: 100%;
}

.popout {
  display: block;
}

.fadeIn {
  animation: fadeIn 0.2s ease-in 0.1s both;
}

/*Multi-image thumbnail (Refer to js setThumbnails for logic)*/
.thumbnail {
	display: none;
    position: relative;
	transition: height 0.2s;	
}

.thumbnail.show {
	display: block;
}

.thumbnail.fastscroll {
	transition: none;	
}

.thumbnail-initial {
	position: absolute;
	left: 0;
	right: 0;
	opacity: 1;
	transition: opacity 0.4s, left 0.2s;
}

.thumbnail.fastscroll .thumbnail-initial {
	transition: none;
}

.thumbnail-normal {
	margin: 0 10px;
	position: initial;
	text-align: center;
	left: 0;
	right: 0;
}

.thumbnail-pop {
	visibility: hidden;
	left: 80%;
	opacity: 0;
}

.thumbnail-initial img,
.thumbnail-initial video {
	border: 2px solid var(--secondary);
	border-bottom-width: 1em;
	transition: border 0.2s, border-radius 0.2s;
}

.thumbnail-initial:hover img,
.thumbnail-initial:hover video {
    border-color: var(--primary);
}

/*EXPERIMENTAL - Supports text, not to be mistaken with links or images*/
.thumbnail-text {
	color: var(--primary);
	text-decoration: underline;	
}

.thumbnail-dialog {
    background-color: var(--background);
    color: var(--foreground);	
}

/*Assign class based on image resize for responsive, see blog.js resizeImg()*/
.img-width-fit {
	width: 100%;
	height: 100%;
}

.img-width-auto {
	width: auto;
}

.img-separator {
	margin-left: auto;
	margin-right: auto;
}

/*link popup content - all prefixed with new for now*/
.new-t, .new-thumbnail, .new-thumbnail-initial {
	display: inline;
	cursor: pointer;
}
.new-thumbnail-focus {
	display: none;
}
.new-thumbnail-initial {
	color: var(--primary);
	text-decoration: underline dashed;
}
.new-thumbnail-initial:hover {
	color: var(--foreground);
}
.new-t.new-thumbnail .new-thumbnail-initial {
	color: var(--foreground);
}
.new-thumbnail .new-thumbnail-focus {
	position: absolute;
	display: block;
	z-index: 9;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	max-width: 98%;
}
.new-thumbnail .new-thumbnail-focus img {
	border-radius: 0;
	border: 2px solid var(--primary);
    filter: drop-shadow(2px 4px 6px var(--background));
}

.twitter-tweet.twitter-tweet-rendered {
    width: min(100%, 480px); /*fix tweet embed use display flex*/
}

/*DATA TABLE*/
.datatable {
	white-space: nowrap;
	overflow: auto;
}

.datatable table {
    border-collapse: collapse;
}

.datatable td, .datatable th {
    border-top: 1px solid var(--foreground);
    border-bottom: 1px solid var(--foreground);
    padding: 0 5px;
}

.datatable .freeze {
	position: sticky;
	background-color: var(--background);
	left: 0;
	max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*AGENDA TABLE OF CONTENTS*/
.agenda {
	display: grid !important;
}

.agenda .item table.tr-caption-container {
	width: 100%;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.agenda .item img {
	width: 100%;
    height: 12.5em;
	object-fit: cover;
	box-sizing: border-box;
	transition: border 0.1s;
}

.agenda .item a img {
	border-width: 2px 2px 1em;
	/* border-radius: 8px; */
}

.agenda .item a img:active {
	/* border-width: 2px; */
}

/*DIALOG*/
.dialog dialog {
	background-color: var(--background);
	color: var(--foreground);	
	padding: 10px;
	max-width: 360px;
}

.dialog dialog a {
	background-color: var(--background);
	color: var(--primary);
}

/*ANIMATION KEYFRAMES*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*MEDIA QUERIES - REDUCED MOTION*/
@media (prefers-reduced-motion: reduce) {
	.fadeIn {
		animation: none;
	}
	.date-header,
	.thumbnail,
	.thumbnail-initial
	{
		transition: none;
	}
}
