/* Newly added */
html {
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.landing {
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 1;
}

.landing p {
    position: relative;
    top: 50vh;
    padding: 0;
    text-align: center;
}

.header {
	z-index: 5;
	max-height: 50vh;
}

.page {
	max-height: 100vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scroll-snap-points-y: repeat(3rem);
}

.page-title {
	margin: 0 auto;
}

.section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
	transition: opacity 1s;
}

.section:active {
	scroll-snap-align: start;
}

.container, .box {
	 width: 80vw;
	 margin: 0 auto;
}

.container {
	 height: 80vh;	
}

.page-next {
	padding-top: 20px;
}

.page-prev {
	padding-bottom: 10px;
}

.page-next .material-icons,
.page-prev .material-icons {
	font-size: 48px;
}

.caption {
	font-size: 0.7em;
}

.footer {
	display: flex;
	padding: 20px;
	justify-content: center;
	margin: auto;
	font-size: 0.7em;
}

@media only screen and (max-width: 960px) {
	.container {
		 width: 99%;
		 margin: 0;
	}
	table {
		font-size: 0.6rem;
	}
}

/* Copied from others */
#GoToTopBtn {
  position: fixed;
  display: block;
  visibility: hidden;
  bottom: 10px;
  right: 25px;
  z-index: 7;
  outline: none;
  /* background-color: black; */
  /* color: white; */
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
}

#CloseBtn {
  position: fixed;
  display: block;
  top: 10px;
  right: 25px;
  z-index: 9;
  outline: none;
  /* background-color: black; */
  /* color: white; */
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
}

/* .page-element:active,
#GoToTopBtn:active,
#CloseBtn:active {
  box-shadow: 1px 1px;
  transform: translate(2px, 2px);
}
 */

.box {	
	border: 1px solid gray;
	background-color: white;
	box-shadow: 3px 3px;
	/* border-radius: 8px; */
	display: flex;
	justify-ontent: center;
	align-items: center;
	font-size: 0.8em;
	word-wrap: break-word;
}

.box:active,
.page-element:active {
  box-shadow: 1px 1px;
  transform: translate(2px, 2px);
}

.darked .box {	
  border: 1px solid lightgray;
  background-color: black;
}

@keyframes fadeInOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*Github Page Only Controls*/
html {
  font-family: Open Sans;
}
body {
  margin: auto;
  display: flex;
  overflow: auto;
  flex: none;
  flex-flow: column nowrap;
}
h1 {
	text-align: center;
}
a {
	cursor: pointer;
}
a:hover {
	color: var(--secondary);
}
.darked a,
.darked a:visited {
	color: white;
}

.darked a:hover {
	color: var(--secondary);
}

p {
	padding: 20px;
}

.circle-icon img {
	border-radius: 50%;
}
