/* Newly added */
html {
	overflow: hidden;
}

.landing {
	width: 100vw;
	height: 100vh;
	display: none;
}

.landing p {
    position: relative;
    top: 50vh;
    padding: 0;
    text-align: center;
}

.page {
	max-height: 100vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scroll-snap-points-y: repeat(3rem);
}

.page-title {
	margin: 0 auto;
}

#main,
.section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.section:active {
	scroll-snap-align: start;
}

.container {
	 width: 80vw;
	 margin: 0 auto;
}


.page-next {
	padding-top: 20px;
}

.page-prev {
	padding-bottom: 10px;
}

.page-next .material-icons,
.page-prev .material-icons {
	font-size: 48px;
}


@media only screen and (max-width: 960px) {
	.container {
		 width: 100%;
		 margin: 0;
	}
	.landing {
		display: block;
	}
	table {
		font-size: 0.6rem;
	}
}

/* Copied from others */
#GoToTopBtn {
  position: fixed;
  display: block;
  visibility: hidden;
  bottom: 10px;
  right: 25px;
  z-index: 7;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
}

#CloseBtn {
  position: fixed;
  display: block;
  top: 10px;
  right: 25px;
  z-index: 9;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px 6px 6px 6px;
  border-radius: 7px;
}

.container,
#GoToTopBtn,
#CloseBtn {	
  border: 1px solid lightgray;
  /* background-color: #000000; */
  box-shadow: 3px 3px;
  border-radius: 8px;
}

.page-element:active,
#GoToTopBtn:active,
#CloseBtn:active {
  box-shadow: 1px 1px;
  transform: translate(2px, 2px);
}



/*Github Page Only Controls*/
html {
  font-family: Open Sans;
}
body {
  margin: auto;
  display: flex;
  overflow: auto;
  flex: none;
  flex-flow: column nowrap;
}
h1 {
	text-align: center;
}
a {
  cursor: pointer;
}
a:hover {
	color: cyan;
}
p {
	padding: 20px;
}
/* h1, p { */
  /* max-width: 800px; */
  /* margin: auto;	 */
/* } */

.circle-icon img {
	border-radius: 50%;
}

table, tr, td { border-collapse: collapse; }

td { white-space: nowrap; }
th { padding: 0 5px; }
tr { border-bottom: 1px solid #444444; } 

tr:hover > td {
	background-color: black;
}

.darked tr:hover > td {
	background-color: white;
}

td.active-period {
	background-color: black;
}

.darked td.active-period {
	background-color: white;
}

tr:first-child > th {
    position: sticky;
    position: webkit-sticky;
	top: 0;
	left: 0;
    background-color: white;
}

.darked tr:first-child > th {
    background-color: black;
}

tr:first-child > th:first-child {
	z-index: 1;
    background-color: white;
}

.darked tr:first-child > th:first-child {
    background-color: black;
}

tr > td:first-child, tr > th:first-child {
    position: sticky;
    position: webkit-sticky;
	left: 0;
    background-color: white;
	border-right: 1px solid #444444;
	transition: background-color 1s;
	cursor: pointer;
}

.darked tr > td:first-child, tr > th:first-child {
    background-color: black;
}

tr > td:first-child:active {
    background-color: black;
	transition: background-color 0s;
}

.darked tr > td:first-child:active {
    background-color: white;
	transition: background-color 0s;
}