<!DOCTYPE html>
<html lang="en-SG">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="mobile-web-app-capable" content="yes"/>
		<meta name="theme-color" content="white"/>
		<meta property="og:title" content="_TITLE_"/>
		<meta property="og:image" content="_IMAGE_"/>
		<meta property="og:url" content="_LINK_"/>
		<meta property="og:type" content="website"/>
		<link href="../../../storytime.ico" rel="icon"/>
		<link href="../../../fonts.css" rel="stylesheet"/>
		_FONTS_
		<link rel="stylesheet" type="text/css" href="../../../index.css"/>
		<link rel="stylesheet" type="text/css" href="../../../blogspot.css"/>
		<script type="application/javascript" charset="utf-8" src="../../../js/theme.js"></script>
		<script type="application/javascript" charset="utf-8" src="../../../js/common.js"></script>
		<script type="application/javascript" charset="utf-8" src="../../../js/blogspot.js"></script>
		<script type="application/javascript" charset="utf-8" src="../../../js/header.js"></script>
		<script type="application/javascript" charset="utf-8" src="../../../js/viewer.js"></script>
		<script type="application/javascript" charset="utf-8" src="../../../js/search.js"></script>
		<script type="application/javascript" charset="utf-8" src="../../../js/searchIndex.js"></script>
		<title>_TITLE_</title>
	</head>
	<body style="font-family: _BODYFONT_">
		<div id="contents" class="post-body entry-content">_CONTENTS_</div>
		<div class="action-menu bottom-left">
			<a class="fab next material-icons hidden" href="_NEXTLINK_" title="Newer Post">skip_next</a>
			<a class="fab prev material-icons hidden" href="_PREVLINK_" title="Older Post">skip_previous</a>
			<a class="fab back material-icons" href="../../../index.html" title="Back To Homepage">home</a>
		</div>
		<div class="action-menu bottom-right">
			<a class="fab share material-icons" title="Share This Page" onclick="sharePage()">share</a>
			<a class="fab search material-icons" title="Search This Blog" onclick="showSearch()">search</a>
			<a class="fab theme material-icons" title="Toggle Dark Mode" onclick="toggleTheme()">brightness_high</a>
			<a class="fab top material-icons hidden" title="Go To Top" onclick="goToTop()">arrow_upward</a>
		</div>
	</body>
</html>