/*Variables*/
:root {
	--primary: 27, 63, 255;
	--secondary: 96, 159, 255;
	--background: 244, 246, 255;
	--foreground: 0, 0, 0;
	--accent: 221, 221, 221;
}

.darked:root {
	--primary: 0, 228, 255;
	--secondary: 0, 171, 191;
	--background: 0, 17, 20;
	--foreground: 255, 255, 255;
	--accent: 69, 69, 69;
}

html {
	font-family: Open Sans;
	background-color: rgb(var(--background));
	color: rgb(var(--foreground));
	color-scheme: light;
	transition: 0.2s background-color linear;
}

html.darked {
	color-scheme: dark;
}

body {
	font-size: calc(1rem + 0.25vw);
}

h1, h4 {
	display: inline-block;
}

.material-icons {
	font-size: 2em;
}

.small-icons {
    font-size: 0.8em;
}

.sitemap {
	column-width: 14em;
}

.sitemap .title:first-child {
	margin-top: 0;
}

.fanfics {
	display: flex;
	overflow-x: auto;
	gap: 12px;
	padding-bottom: 2em;
}

.fanfics .season {
    min-width: 11em;
}

.keyword {
	color: rgb(var(--primary));
	line-height: 1.5;
}

.keyword:visited {
	color: rgb(var(--secondary));
}

.keyword:hover {
	color: rgb(var(--foreground));
	text-decoration: none;
}

.post-tags.filters {
	position: fixed;
	display: flex;
	gap: 12px;
	visibility: visible;
	top: 20px;
	right: 20px;
	z-index: 8;
	outline: none;
	color: rgb(var(--foreground));
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.post-tags.filters a {
	padding: 8px 6px 6px 6px;
	color: rgb(var(--foreground));
	border: 1px solid rgb(var(--foreground));
	background-color: rgb(var(--background));
	box-shadow: 3px 3px rgb(var(--foreground));
	border-radius: 8px;
	transition: background .2s linear;
	text-decoration: none;
	line-height: 1;
}

.post-tags.filters a:hover::before {
	content: attr(title);
	vertical-align: text-top;
	text-transform: uppercase;
}

#BackBtn {
	position: fixed;
	display: block;
	visibility: visible;
	bottom: 20px;
    left: 20px;
	z-index: 8;
	outline: none;
	color: rgb(var(--foreground));
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid rgb(var(--foreground));
	background-color: rgb(var(--background));
	box-shadow: 3px 3px rgb(var(--foreground));
	border-radius: 8px;
	transition: background .2s linear;
	text-decoration: none;
	line-height: 1;
}

#GoToTopBtn,
#DarkModeBtn {
	position: fixed;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 80px;
    right: 20px;
	z-index: 7;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: rgb(var(--foreground));
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	transition: opacity 0.3s;
	border: 1px solid rgb(var(--foreground));
	background-color: rgb(var(--background));
	box-shadow: 3px 3px rgb(var(--foreground));
	border-radius: 8px;
	transition: background .2s linear;
	text-decoration: none;
	line-height: 1;
}

#GoToTopBtn {
	bottom: 20px;	
}

.post-tags.filters a:hover,
#GoToTopBtn:hover,
#DarkModeBtn:hover,
#BackBtn:hover {
	box-shadow: 1px 1px;
	transform: translate(2px, 2px);
}

/*MEDIA QUERIES - BUTTON POSITION*/
@media only screen and (max-width: 780px) {
	#FanficBtn {
		top: 15px;
		right: 15px;
	}
	#BackBtn {
		left: 15px;
	}
	#GoToTopBtn,
	#DarkModeBtn {
		right: 15px;
	}
	#DarkModeBtn {
		bottom: 75px;
	}
	#GoToTopBtn,
	#BackBtn {
		bottom: 15px;
	}
}

@media only screen and (min-width: 980px) {
	body {
		max-width: 80vw;
		margin: auto;
	}
}

@media only screen and (max-width: 780px) {
	.sitemap {
		column-width: 11em;
		line-height: 2;
	}
	.fanfics .season {
		min-width: 9em;
	}
	.fanfics .season div {
		line-height: 2;
	}
	.keyword {
		font-size: 0.8em;
	}
}

/*MEDIA QUERIES - REDUCED MOTION*/
@media (prefers-reduced-motion: reduce) {
	html,
	.post-tags.filters a,
	#BackBtn,
	#GoToTopBtn,
	#DarkModeBtn
	{
		transition: none;
	}
}
