/*Variables*/
:root {
  --primary: #1b3fff;
  --secondary: #609fff;
  --background: #f4f6ff;
  --foreground: #000;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #001114;
  --foreground: #fff;
}

html {
	font-family: Open Sans;
	background-color: var(--background);
	color: var(--foreground);
	color-scheme: light;
}

html.darked {
	color-scheme: dark;
}

h1 {
	display: inline-block;
}

.content {
	column-width: 220px;
}

.back {
	text-decoration: none;
	font-size: 2em;
}

.keyword {
	color: var(--primary);
	line-height: 1.5;
}

.keyword:visited {
	color: var(--secondary);
}

.keyword:hover {
	color: var(--foreground);
	text-decoration: none;
}

@media only screen and (min-width: 980px) {
	body {
		max-width: 80vw;
		margin: auto;
	}
}

@media only screen and (max-width: 780px) {
	.content {
		column-width: 200px;
	}
	.keyword {
		font-size: 0.8em;
	}
}
