/*Variables*/
:root {
  --primary: #1b3fff;
  --secondary: #609fff;
  --background: #f4f6ff;
  --foreground: #000;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #001114;
  --foreground: #fff;
}

html {
	font-family: Open Sans;
	background-color: var(--background);
	color: var(--foreground);
	color-scheme: light;
}

html.darked {
	color-scheme: dark;
}

h1 {
	display: inline-block;
}

.content {
	column-width: 14em;
}

.content .title:first-child {
	margin-top: 0;
}

.fanfics {
	display: flex;
	overflow-x: auto;
}

.fanfics .season {
	flex-basis: 13em;
}

.back {
	text-decoration: none;
	font-size: 2em;
}

.keyword {
	color: var(--primary);
	line-height: 1.5;
}

.keyword:visited {
	color: var(--secondary);
}

.keyword:hover {
	color: var(--foreground);
	text-decoration: none;
}

#BackBtn {
	position: fixed;
	display: block;
	visibility: visible;
	bottom: 20px;
    left: 20px;
	z-index: 8;
	outline: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
	text-decoration: none;
	font-size: 2em;
}

#DarkModeBtn {
	position: fixed;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 20px;
    right: 20px;
	z-index: 7;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--foreground);
	cursor: pointer;
	padding: 8px 6px 6px 6px;
	transition: opacity 0.3s;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	box-shadow: 3px 3px var(--foreground);
	border-radius: 8px;
	transition: background .2s linear;
	text-decoration: none;
	font-size: 2em;
}

#DarkModeBtn:active,
#BackBtn:active {
	box-shadow: 1px 1px;
	transform: translate(2px, 2px);
}

/*MEDIA QUERIES - BUTTON POSITION*/
@media only screen and (max-width: 780px) {
  #BackBtn {
    left: 15px;
  }
  #DarkModeBtn {
    right: 15px;
  }
  #DarkModeBtn,
  #BackBtn {
    bottom: 15px;
  }
}

@media only screen and (min-width: 980px) {
	body {
		max-width: 80vw;
		margin: auto;
	}
}

@media only screen and (max-width: 780px) {
	.content {
		column-width: 13em;
		line-height: 1.5;
	}
	.keyword {
		font-size: 0.8em;
		line-height: 2;
	}
}
