/*Variables*/
:root {
  --primary: #0065ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
  font-family: Noto Sans;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  margin: 0;
}

a,
a:visited {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
}

body.container {
  background-color: var(--accent);
}

.frame {
  height: 99%;
  width: 99%;
  margin: 0;
  resize: both;
}

.home {
  text-decoration: none;
  font-weight: bold;
}

.address {
  width: 85%;
  max-width: 640px;
}