/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
  font-family: Noto Sans;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  max-width: 480px;
  margin: auto;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

a,
a:visited {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

progress {
  appearance: none;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  border-radius: 4px;
  background-color: var(--background);
  border: 2px solid var(--accent);
}

progress::-webkit-progress-value {
  background-color: var(--accent);
}

.hidden {
  display: none !important;
}

.box {
  border: 2px solid var(--accent);
  border-radius: 16px;
  margin: 5px;
  vertical-align: top;
  scroll-snap-align: center;
  white-space: normal;
  touch-action: manipulation;
}

.shadowed {
  border: 1px solid var(--accent);
  box-shadow: 3px 3px;
}

.shadowed:active {
  box-shadow: 1px 1px;
  transform: translate(2px, 2px);
}

.unshadowed {
  filter: opacity(100%);
  transition: filter 1s;
}

.percent,
.progress,
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
}

.percent:not(.hidden):has(+ .progress:not(.hidden)) {
  position: absolute;
  left: 0;
}

.percent[onclick] {
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--secondary);
}

.percent[onclick]:hover {
  background-color: var(--accent);
}

.options {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.options a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 33%;
  aspect-ratio: 1;
}

.options a:hover {
  border: 2px solid var(--primary);
}

.options a.selected {
  border: 2px solid var(--primary);
  color: var(--background);
  background-color: var(--primary);
}

.result {
  height: 100%;
  max-height: 25em;
  overflow-y: auto;
  align-items: start;
}

.result td {
  padding: 0 1em;
}

.result td:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1em;
}

.result td:last-child[value="-"] {
  justify-content: center;
}

.result td:last-child[value="arrow_drop_up"]::before {
  font-size: 2em;
  font-family: 'Material Icons';
  content: attr(value);
  color: green;
}

.result td:last-child[value="arrow_drop_down"]::before {
  font-size: 2em;
  font-family: 'Material Icons';
  content: attr(value);
  color: red;
}