/* COLOUR VARIABLES */
:root {
	/* Plain Blue */
	--primary: 27, 63, 255;
	--secondary: 117, 153, 255;
	--tertiary: 221, 221, 255;
	--background: 255, 255, 255;
	--foreground: 0, 20, 20;
	--accent: 221, 221, 221;
}

.darked:root {
	/* Plain Cyan */
	--primary: 50, 228, 255;
	--secondary: 36, 159, 179;
	--tertiary: 22, 98, 100;
	--background: 0, 0, 0;
	--foreground: 245, 245, 255;
	--accent: 69, 69, 69;
}

/* FONT SIZE VARIABLES */
:root {
	--sm: 0.7em;
	--md: 1em;
	--ml: 1.25em;
	--lg: 1.5em;
	--xl: 2.5em;
}

/* DEFAULT HTML TAG PROPERTIES - IN THIS ORDER */
html {
	color-scheme: light;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

html.darked {
	color-scheme: dark;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}

::selection {
	color: rgb(var(--background));
	background: rgb(var(--primary));
}

/* Change text fragment highlight color */
::-moz-highlight {
    background-color: rgb(var(--tertiary)) !important;
    color: rgb(var(--foreground)) !important;
}

body {
	margin-top: 0;
	transition: background-color .2s cubic-bezier(0.2, 0.0, 0, 1.0);
	background-color: rgb(var(--background));
	color: rgb(var(--foreground));
	font-size: clamp(1rem, 1rem + 0.25vw, 2rem);
	font-family: Noto Sans, Arial, sans-serif;
	line-height: 1.5;
	/* FIX SAFARI RENDER */
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

blockquote,
div {
	text-wrap: pretty;
	overflow-wrap: break-word;
}

input,
button,
textarea,
select {
	all: unset;
}

input[type=checkbox] {
	position: relative;
	width: calc(1rem + 0.25vw);
	height: calc(1rem + 0.25vw);
	vertical-align: middle;
	margin: 4px 8px;
	cursor: pointer;
}

/* CUSTOM CHECKBOX ELEMENT */
input[type=checkbox]::before {
	background-color: transparent;
	border: 2px solid rgba(var(--foreground), 0.8);
	position: absolute;
	width: calc(1rem + 0.25vw);
	height: calc(1rem + 0.25vw);
	right: -0.15rem;
	bottom: -0.1rem;
	border-radius: 2px;
	font-family: Material Icons;
	content: " ";
}

input[type=checkbox]:checked::before {
	content: "check";
	background-color: rgb(var(--tertiary));
	border: 2px solid rgb(var(--tertiary));
	line-height: 1;
}

input[type=checkbox]:focus-visible {
	border-radius: 1px;
	outline: 3px solid rgb(var(--foreground));
}

/* CUSTOM CHECKBOX CLICK EFFECT */
input[type=checkbox]::after {
	background-color: rgba(var(--foreground), 0.8);
	width: calc(2.5rem + 0.25vw);
	height: calc(2.5rem + 0.25vw);
	content: " ";
}

input[type=checkbox]:active::after {
	border-radius: 99px;
	position: absolute;
	right: -0.75rem;
	bottom: -0.7rem;
	opacity: 0.6;
}

label:has(input[type=checkbox]) {
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button[onclick] {
	cursor: pointer;
}

button[onclick]:active {
	transform: scale(0.97);
}

a {
	color: rgb(var(--primary));
}

a:visited {
	color: rgb(var(--secondary));
}

a:hover,
a:focus-within {
	color: rgb(var(--foreground));
}

a img {
	box-sizing: border-box;
	border: 2px solid rgb(var(--tertiary));
}

a img:hover,
a img:focus-within {
	border-color: rgb(var(--primary));
}

img {
	line-height: 0;
}

img[data-original-width][data-original-height] {
	border-radius: 16px;
}

table {
	border-spacing: 8px 0;
}

mark {
	background-color: rgb(var(--primary));
	color: rgb(var(--background));
}

iframe {
	border: 0;
}

/* COMMON */
.box {
	border-radius: 12px;
	transition: background-color .2s cubic-bezier(0.2, 0.0, 0, 1.0),
		transform .2s cubic-bezier(0.2, 0.0, 0, 1.0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.box:active {
	transform: scale(0.97);
}

.material-symbols,
.material-icons {
	text-decoration: none;
}

.post-tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin: 1em 4px;
}

.post-tags a,
.post-tags a:visited {
	color: rgb(var(--foreground));
	white-space: nowrap;
	text-decoration: none;
	padding: 8px 26px;
}

.loader {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 11;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--xl);
}

/* SCRIM */
.scrim {
	background-color: rgba(var(--background), 0.5);
	transition: opacity .3s cubic-bezier(0.05, 0.7, 0.1, 1.0);
	position: fixed;
	width: 100%;
	height: 120%;
	bottom: 0;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 1;
	z-index: 8;
	-webkit-tap-highlight-color: transparent;
}

.scrim.hide {
	opacity: 0;
	z-index: -1;
	cursor: initial;
}

body:has(.scrim:not(.hide)) {
	overflow: hidden;
}

/* SHEET */
.sheet {
	background-color: rgb(var(--background));
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
	position: fixed;
	overflow-y: auto;
	margin: auto;
	width: 100%;
	max-width: 640px;
	height: auto;
	max-height: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	transition: border-radius 0.2s cubic-bezier(0.2, 0, 0, 1),
		height 0.2s cubic-bezier(0.2, 0, 0, 1),
		bottom 0.2s cubic-bezier(0.2, 0, 0, 1);
	scrollbar-width: none;
	/* Firefox */
}

.sheet::before {
	font-family: Material Icons;
	content: attr(data-loader);
	position: absolute;
	left: 0;
	right: 0;
	display: inline;
	text-align: center;
	cursor: pointer;
	font-size: var(--lg);
	height: 28px;
	line-height: 1;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sheet.popup-content {
	display: block;
	line-height: 0;
}

.sheet.expand {
	height: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sheet::-webkit-scrollbar {
	width: 0 !important;
	/* Safari and Chrome */
}

.sheet.hide {
	bottom: -100%;
}

/* CONTEXT MENU */
.context {
	font-size: 0.75em;
	position: absolute;
	border-radius: 4px;
	white-space: nowrap;
	border: 1px solid rgb(var(--accent));
	background-color: rgb(var(--background));
	box-shadow: 1px 3px 0 0 rgb(var(--accent));
	z-index: 9;
}

.context .menu-options div {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 4px 6px;
	cursor: pointer;
}

.context .menu-options div::before {
	content: attr(data-id);
}

.context .menu-options div[data-selected] {
	background-color: rgb(var(--secondary));
}

.context .menu-options div:hover {
	background-color: rgb(var(--accent));
}

/* GLOBAL HIDE CLASS */
.hidden {
	/* TODO: increase specificity */
	display: none;
	height: 0;
}

/* MEDIA QUERIES - REDUCED MOTION */
@media (prefers-reduced-motion: reduce) {

	body,
	button,
	.box,
	.scrim,
	.sheet {
		transition: none;
	}
}

/* MEDIA QUERIES - FOR PRINT ON WHITE PAPER */
@media print {

	[data-them]:root,
	.darked[data-theme]:root {
		--primary: 27, 63, 255;
		--secondary: 96, 159, 255;
		--background: 255, 255, 255;
		--foreground: 0, 0, 0;
		--accent: 221, 221, 221;
	}

	a,
	a:visited {
		color: rgb(var(--foreground));
		text-decoration: none;
	}

	.scrim {
		display: none;
	}
}