/* GENERATED PAGE */
:root {
	--fast: 0.2s;
	--slow: 0.5s;
}

html {
	width: 100%;
	height: 100%;
}

html:has(main[data-scroll="horizontal"]) {
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: calc(1rem + 0.25vw);
}

a img {
	border: 0;
}

main {
	width: 100%;
	height: 100%;
}

main[data-scroll="horizontal"] {
	display: flex;
}

main[data-scroll="horizontal"] section {
	flex: 1 0 100%;
}

section {
	width: 100%;
	height: 100%;
	transition: opacity var(--slow);
}

section[data-type="main"] img,
section[data-type="title"] img {
	border-radius: 99px;
	width: 100px;
	aspect-ratio: 1;
	object-fit: cover;
}

section .grid-container,
section .grid-item {
	/* no need to adjust width height for padding */
	box-sizing: border-box;
	border: var(--border) solid black;
	padding: 0.5em;
	display: block;
}

section .grid-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(var(--cols, 1), 1fr);
	grid-template-rows: repeat(var(--rows, 1), 1fr);
}

section .grid-item {
	grid-column: var(--col, 1) / span var(--colspan, 1);
	grid-row: var(--row, 1) / span var(--rowspan, 1);
}

section[data-type*="grid"] img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 8px;
}

section[data-type*="grid"] .gallery div {
	display: flex;
	justify-content: center;
	gap: 0.5em;
	flex-wrap: wrap;
}

section[data-type*="grid"] .gallery div img {
	min-width: 5em;
	width: var(--width);
	height: auto;
	aspect-ratio: var(--ratio, 1);
	object-fit: cover;
	margin: 0;
}

section[data-type*="grid"] .gallery div img[onclick] {
	cursor: pointer;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(var(--background));
	text-align: center;
	font-weight: bold;
	transition: top var(--fast) cubic-bezier(0.05, 0.7, 0.1, 1);
	box-sizing: border-box;
	font-size: var(--lg);
	padding: 0.5em 2em;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header.hide {
	top: -60px;
}

footer {
	margin: 1em 0;
	font-size: var(--sm);
	text-align: center;
}

main[data-scroll="horizontal"] footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	margin: auto;
	text-align: start;
}

nav {
	background-color: rgb(var(--background));
	position: var(--position);
	max-width: 1280px;
	width: 99%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	top: 0;
	z-index: 1;
	gap: 8px;
	overflow: auto;
	padding: 1em 0;
}

nav button {
	border: 0;
	background-color: rgb(var(--background));
	border: 2px solid rgb(var(--tertiary));
	border-radius: 28px;
	padding: 8px 16px;
	cursor: pointer;
}

nav:has(img) {
	gap: 4px;
}

nav button:has(img) {
	padding: 0;
	line-height: 0;
	border: 0;
	border-radius: 99px;
}

nav button[data-emphasis] {
	border-color: rgb(var(--foreground));
}

nav button:hover,
nav button:focus-within {
	background-color: rgb(var(--tertiary));
}

nav button[data-emphasis]:hover,
nav button[data-emphasis]:focus-within {
	background-color: rgb(var(--foreground));
	color: rgb(var(--background));
}

nav button:has(img):hover,
nav button:has(img):focus-within {
	background-color: transparent;
}

section[data-type="main"] nav button img {
	max-width: 5em;
	border-radius: 99px;
}

nav button img:hover,
nav button img:focus-within {
	opacity: 0.7;
}

nav.fixed,
nav.sticky {
	padding-top: 4px;
	flex-wrap: nowrap;
	width: 100%;
	overflow-x: auto;
	justify-content: flex-start;
}

nav.fixed::before,
nav.sticky::before {
	content: attr(data-header);
	white-space: nowrap;
	align-self: center;
}

a.exit,
a.exit:visited {
	font-size: var(--lg);
	padding: 8px;
	border: 0;
	margin-right: 12px;
	background-color: rgb(var(--background));
	color: rgb(var(--foreground));
	position: fixed;
	top: 0.5em;
	left: 8px;
	z-index: 9;
	border-radius: 99px;
	transition: top var(--fast) cubic-bezier(0.05, 0.7, 0.1, 1);
}

a.exit.hide {
	top: -60px;
}

a.exit:hover,
a.exit:focus-within {
	background-color: rgb(var(--accent));
}

button.top {
	font-size: var(--lg);
	padding: 12px;
	border: 0;
	background-color: rgb(var(--tertiary));
	color: rgb(var(--foreground));
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9;
	border-radius: 99px;
	transition: bottom var(--fast) cubic-bezier(0.05, 0.7, 0.1, 1);
}

button.top.hide {
	bottom: -60px;
}

main[data-scroll="horizontal"] button.top.hide {
	bottom: 10px;
}

button.top:hover button.top:focus-within {
	background-color: rgb(var(--accent));
}

nav.fixed a.exit,
nav.sticky a.exit {
	position: static;
}

section .title p {
	padding: 1em;
	max-height: var(--height);
	overflow: auto;
}

dialog section .title p {
	padding: 0;
	max-height: calc(var(--height)* 10);
}

section.main .links,
dialog section[data-type="grid"] .links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

section .images {
	display: flex;
	flex-wrap: var(--wrap);
	justify-content: center;
	justify-items: center;
	align-content: center;
	gap: 8px;
	line-height: 0;
}

section .image img {
	width: var(--width);
	height: var(--height);
	border-radius: 24px;
}

section .images img {
	max-width: var(--width);
	max-height: var(--height);
	border-radius: 24px;
}

section .title {
	padding: 0 3em;
}

section .paragraph .expanded {
	background-color: rgb(var(--background));
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}

dialog.dialog.full:has(.paragraph .expanded) {
	width: fit-content;
    height: fit-content;
}

section .masonry {
	width: 100%;
	height: var(--height);
	display: flex;
	align-items: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
	gap: 16px;
}

section .masonry .column {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

section .masonry img {
	vertical-align: middle;
	width: 100%;
	object-fit: cover;
	border-radius: 24px;
	transition: opacity var(--slow) cubic-bezier(0.05, 0.7, 0.1, 1);
}

section .masonry img.marked {
    filter: brightness(0.3);
}

section .masonry:has(img:hover) img:not(:hover) {
	opacity: 0.5;
}

section .masonry img[data-src],
section .masonry img[data-images] {
	cursor: pointer;
}

section.centered,
section .grid-item.centered {
	display: grid;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	text-align: center;
	overflow: auto;
}

dialog.dialog {
	max-width: calc(100% - 128px);
	max-height: calc(100% - 128px);
	overflow: hidden;
}

dialog.dialog.full {
	width: calc(100% - 128px);
	height: calc(100% - 128px);
}

dialog.dialog.full>div {
	/* because of content padding */
	width: calc(100% - 48px);
	height: calc(100% - 48px);
}

dialog.dialog img {
	margin: auto;
	display: block;
	width: 100%;
	border-radius: 4px;
}

dialog section[data-type="grid"] img {
	border-radius: 24px;
}

section .tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	font-size: small; /* does not fit in variable */
}

section .tags-value {
	background-color: rgb(var(--accent));
	border: 0;
	border-radius: 28px;
	padding: 8px 16px;
	margin: 4px;
}

section .tags-value[data-filter] {
	background-color: rgb(var(--tertiary));
	cursor: pointer;
}

section .tags-value:hover,
section .tags-value:focus-within {
	background-color: rgb(var(--accent));
}

section .gallery img[data-src] {
	cursor: pointer;
	transition: filter var(--slow) cubic-bezier(0.05, 0.7, 0.1, 1);
}

section .gallery img[data-src]:hover,
section .gallery img[data-src]:focus-within {
	filter: sepia(0.5);
}

section .gallery .caption {
	width: 100%;
	margin: 5px;
	font-size: var(--sm);
}

.snackbar {
	position: fixed;
	bottom: calc(1.5em + 48px);
	left: 1em;
	right: 1em;
	z-index: 1;
	padding: 1em;
	background-color: rgb(var(--foreground));
	color: rgb(var(--background));
	text-align: center;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	gap: 1em;
	max-width: 60ch;
	margin: auto;
}

.snackbar div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.snackbar .action {
	font-weight: bold;
	color: rgb(var(--tertiary));
	border: 0;
	background: transparent;
}

/* MEDIA QUERIES - PORTRAIT SCREEN */
@media (max-aspect-ratio: 4 / 5) {
	section {
		height: auto;
	}

	section:not(.main) {
		padding: 4em 0;
	}

	dialog section:not(.main) {
		margin-top: 0;
		padding: 0;
	}

	section.main {
		min-height: 100%;
	}

	button.top.hide {
		bottom: -66px;
	}

	section .grid-container {
		display: block;
		padding: 0;
	}

	section .image img,
	dialog section .image img {
		max-width: 80%;
		height: auto;
	}

	section .images img {
		height: auto;
	}

	footer {
		max-width: calc(100% - 120px);
		margin: auto;
		font-size: var(--sm);
	}

	section .paragraph:not(.grid-item) {
		display: block;
		padding: 8px;
		min-height: 8em;
	}

	section .paragraph .expanded {
		align-content: start;
        height: fit-content;
	}

	section .paragraph em {
		box-sizing: border-box;
		width: calc(var(--width) - 1em);
		height: calc(var(--height) - 1em);
		min-height: 10vh;
		overflow-y: auto;
		padding: 1em;
	}

	section .masonry {
		height: auto;
		gap: 8px;
	}

	section .masonry .column {
		gap: 8px;
	}

	section .masonry img {
		width: 100%;
	}

	dialog.dialog {
		max-width: calc(100% - 48px);
		max-height: calc(90% - 48px);
	}

	dialog.dialog.full {
		width: 100%;
		max-height: fit-content;
	}

	dialog.dialog.full>div {
		overflow: auto;
		max-height: inherit;
	}

	dialog section .title p {
		margin: 0;
	}

	dialog.dialog.full:has(.paragraph .expanded) {
		max-height: unset;
	}
}

/* MEDIA QUERIES - REDUCED MOTION */
@media (prefers-reduced-motion: reduce) {

	header,
	a.exit,
	button.top,
	section,
	section .gallery img[data-src],
	section .masonry img {
		transition: none;
	}
}

/* MEDIA QUERIES - FOR PRINT ON WHITE PAPER */
@media print {

	header,
	button.top {
		display: none;
	}

	nav button {
		color: rgb(var(--foreground));
	}

	section {
		page-break-after: always;
	}

	section .image img,
	section .images img {
		max-width: 50%;
		height: auto;
	}
}