/*Github Page Only Controls*/
html {
  font-family: Open Sans;
}
@media only screen and (max-device-width: 960px) {
	table {
		font-size: 0.6rem;
	}
}
body {
  padding: 5px;
  background-color: black;
  color: white;
  margin: auto;
}
h1 {
	text-align: center;
}
a {
	color: cyan;
}
p {
	padding: 20px;
}
h1, p {
  max-width: 800px;
  margin: auto;	
}

.circle-icon img {
	border-radius: 50%;
}

h3, #labels { text-align: center; }

#anime-list {
	overflow: scroll;
	height: 500px;
	/* overflow: auto;	 */
}

td { white-space: nowrap; }

table, tr, td { border-collapse: collapse; }

tr { 
	border-bottom: 1px solid #444444; 
} 

td.active-period {
	background-color: white;
}

tr:first-child > th {
    position: sticky;
    position: webkit-sticky;
	top: 0;
	left: 0;
    background-color: black;
}

tr:first-child > th:first-child {
	z-index: 1;
}

tr > td:first-child, tr > th:first-child {
    position: sticky;
    position: webkit-sticky;
	left: 0;
    background-color: black;
	border-right: 1px solid #444444;
	transition: background-color 1.5s;
	cursor: pointer;
}

tr > td:first-child:active {
    background-color: white;
	transition: background-color 0s;
}

.show-overlay {
	display: none;
}

.active-period:hover .show-overlay {
	display: block;
	position: absolute;
	background-color: black;
	border-radius: 8px;
	border: 1px solid white;
	box-shadow: 3px 3px;
	padding: 4px 8px;
}


/*End Github*/


.anime-year {
 visibility: collapse;
 padding: 2px 0;
}


.anime-line {
 max-width: 100%;
 max-height: 100%;
 font-size: x-small;
}

img {
 left: 0;
 right: 0;
 border: 4px white solid;
 background-color: white;
 max-width: 200px;
 max-height: 200px;
}

.anime-labels span {
	background-color: #333333;
	padding: 0 5px;
}

.anime-row {
 max-width: 100%;
 max-height: 100%;
 font-size: x-small;
}

.anime-row img {
 display: none;
 left: 0;
 right: 0;
 position: absolute;
 border: 4px white solid;
 background-color: white;
}

.anime-row:hover {
 font-size: 1em;
 text-decoration: underline;
}

.anime-row:hover img {
 width: 200px;
 max-height: 200px;
 margin: 1.5em auto;
 display: block;
}

.anime-row:hover a {
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
 width: 200px;
 height: 220px;
}

.anime-details-box {
 border-radius: 8px;
 border: 1px solid white;
 box-shadow: 3px 3px;
 padding: 4px 8px;
 display: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.anime-line:active .anime-details-box {
 box-shadow: 1px 1px;
 transform: translate(2px, 2px);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
 .anime-row,
 .year-display {
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .anime-row:hover {
  font-size: x-small;
 }
 .anime-row:hover a {
  position: fixed;
  width: 200px;
  height: 220px;
 }
 .anime-row:hover img {
  position: fixed;
  top: 0;
  width: 200px;
  max-height: 200px;
  border: 0px solid white;
 }
 span {
  -webkit-user-select: all;
  /* Safari 3.1+ */
  -moz-user-select: all;
  /* Firefox 2+ */
  -ms-user-select: all;
  /* IE 10+ */
  user-select: all;
  /* Standard syntax */
 }
}