html {
	background-color: white;
	font-family: Open Sans;
}

.body {
	max-width: 640px;
	margin: auto;
	padding: 2px 8px;
}

h1 {
	margin: 20px 0;
}

table, td, th { 
	border: 1px solid black; 
	padding: 2px 4px; 
	font-size: 0.9em;
	border-collapse: collapse;
}

.darked td {
	border: 1px solid white; 
}

h1 {
	margin-bottom: 0;
}

.year {
	padding: 5px;
	cursor: pointer;
}


button:active {
  box-shadow: 1px 1px;
  transform: translate(2px,2px); 
}

.player, table {
	width: 100%;
}

.left, .right {
  float: left;
  width: 30%;
}
.main {
  float: left;
  width: 40%;
}

.result-box {
	border: 1px solid gray;
	display: block;
	width: auto;
	height: auto;
	padding: 5px;
	margin: 5px;

}
.show-result, .input-box {
	padding: 10px;
}

.flexi-input {
	margin: 0 5px;
	border: 0;
	border-bottom: 1px solid;
	text-align: center;
}

@media only screen
   and (min-device-width : 320px)
   and (max-device-width : 960px)
{
	
}

@media (prefers-color-scheme: dark) {
	td { 
		border: 1px solid white; 
	}

	.darked td {
		border: 1px solid black; 
	}
}
