html {
	/* background-color: white; */
	font-family: Open Sans;
}

body {
	margin: 0;
}

#tab-list {
	overflow: auto;
	padding: 3px;
}

.absolute {
	position: absolute;
	padding: 0 5px;
}

#random-count {
	font-weight: normal;
	font-size: small;
    vertical-align: text-top;
}

#search, #options {
    width: 100%;
	box-sizing: border-box;
}

#overlay {
	text-align: center;
    position: absolute;
    z-index: 99;
    opacity: 0.5;
    color: black;
    background-color: transparent;
    width: 100%;
	/* visibility: hidden; */
    left: 0;
    right: 0;
}

.content-box {
  border: 1px solid lightgray;
  box-shadow: 3px 3px;
  padding: 4px;
  white-space: normal;
  width: 100%;
}

.darked .content-box {
  border: 1px solid white;
	
}
/* .content-box:active {
  box-shadow: 1px 1px;
  transform: translate(2px,2px);
} */

.hidden {
	visibility: hidden;
}

.tab {
	display: none;
    /* height: 60vh; */
    overflow-y: auto;
}

.tab-view {
	vertical-align: top;
}

.centered {
	max-width: 640px;
	margin: auto;
	padding: 2px 8px;
}

.centered-text {
	text-align: center;
}

.module {
	padding: 5px 10px;
}

.list tr:hover > td {
	background-color: lightgray;
}

.darked tr:hover > td {
	background-color: gray;
}

.list .highlight {
	background-color: lightgray;
}

.darked .highlight {
	background-color: gray;
}

h1 {
	margin: 20px 0;
	margin-bottom: 0;
}
h1, h6 {
	margin: 20px 0;
	margin-bottom: 0;
}

table {
	border-collapse: collapse;
	font-size: 0.9em;
}

td, th { 
	padding: 2px 4px; 
	font-size: 0.9em;
}

.empty td {
	border: 1px solid transparent;
}

.bordered td, .bordered th {
	border: 1px solid black;
}

.darked .bordered td, .darked .bordered th {
	border: 1px solid white;
}

.year {
	padding: 5px;
	cursor: pointer;
}

.player, .list {
	width: 100%;
}

.left, .right {
  float: left;
  width: 30%;
}
.main {
  float: left;
  width: 40%;
}

.result-box {
	border: 1px solid gray;
	display: block;
	width: auto;
	height: auto;
	padding: 5px;
	margin: 5px;

}
.show-result, .input-box {
	padding: 10px;
}

.flexi-input {
	margin: 0 5px;
	border: 0;
	border-bottom: 1px solid;
	text-align: center;
}

.no-highlight tr:hover > td {
	background-color: initial;
}

.darked .no-highlight tr:hover {
	background-color: initial;
}

.not-selectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.award-winner {
	position: absolute;
	right: 0;
	font-size: 20px;
}

.material-icons {
	font-size: 20px;
	vertical-align: bottom;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.darked .material-icons {
	color: white;
}

.tab-buttons button {
	padding: 6px 12px;
	text-transform: uppercase;
}

.settings .material-icons {
	font-size: 24px;
}

@media only screen
   and (min-device-width : 960px)
{
}

/* @media (prefers-color-scheme: dark) {
	td, th { 
		border: 1px solid white; 
	}

	.darked td, .darked th {
		border: 1px solid black; 
	}
} */
