/*Variables*/
:root {
  --primary: #0065ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
}

html {
	font-family: Noto Sans;
	color: var(--foreground);
	background-color: var(--background);
}

body {
	margin: 0;
}

a {
    color: var(--primary);
    display: inline-block;
    width: auto;
}

.close {
	position: sticky;
    display: inline-block;
	text-align: center;
    width: 49%;
	top: 0;
	z-index: 9;
	outline: none;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	color: var(--foreground);
	cursor: pointer;
	font-size: 2em;
    padding: 2px 0;
}

.top {
	position: sticky;
    display: inline-block;
	text-align: center;
    width: 49%;
	top: 0;
	z-index: 9;
	outline: none;
	border: 1px solid var(--foreground);
	background-color: var(--background);
	color: var(--foreground);
	cursor: pointer;
	font-size: 2em;
    padding: 2px 0;
}

.prelude {
	text-align: center;
	font-size: 0.8em;
}

.inactive {
	display: none;
}

.post,
.content {
	max-width: 640px;
	margin: auto;
	background: var(--background);
}

.content-container {
	position: relative;
	margin: 8px;
}

.side {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    top: 0px;
    width: 640px;
    cursor: pointer;
    filter: brightness(25%);
}

.side.left {
	left: calc((100% - 640px) / 2 - 640px);
}

.side.right {
	right: calc((100% - 640px) / 2 - 640px);
}

.title,
.post {
	max-width: 640px;
	text-align: center;
	margin: auto;
}

.post h4 {
    margin: 2px;
}

.loader {
    display: flex;
	justify-content: center;
	align-items: center;
}

.selector {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: calc(100vh - 16px);
}

.hide {
	display: none;
}