/*Variables*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

html {
  font-family: Noto Sans;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  max-width: 640px;
  margin: auto;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a,
a:visited {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

textarea {
  width: calc(100% - 1em);
  resize: vertical;
}

.hidden {
  display: none;
}

.box {
  margin: 5px;
  vertical-align: top;
  scroll-snap-align: center;
  white-space: normal;
  touch-action: manipulation;
}

.shadowed {
  border: 1px solid lightgray;
  box-shadow: 3px 3px;
}

.shadowed:active {
  box-shadow: 1px 1px;
  transform: translate(2px, 2px);
}

.unshadowed {
  filter: opacity(100%);
  transition: filter 1s;
}

.page {
  display: flex;
  justify-content: space-evenly;
  width: min(100%, 420px);
  margin: auto;
}

.add {
  width: 100px;
  height: 150px;
}

#upload {
  display: none;
}

#upload+button {
  font-size: 1.5em;
}

#threshold {
  font-size: 1.5em;
  width: 8ch;
}

#output {
  object-fit: contain;
}

#examples {
  display: flex;
  flex-wrap: wrap;
}

#examples img {
  height: 150px;
}