/*Variables*/
:root {
	--primary: #0065ff;
	--secondary: #609fff;
	--background: #fff;
	--foreground: #000;
	--accent: lightgray;
}

.darked:root {
	--primary: #00e4ff;
	--secondary: #00abbf;
	--background: #000;
	--foreground: #fff;
	--accent: dimgray;
}

html {
	font-family: Noto Sans;
	overflow-x: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 99%;
	color-scheme: light;
}

html.darked {
	color-scheme: dark;
}

body {
	background-color: var(--background);
	font-size: calc(1rem + 0.25vw);
	color: var(--foreground);
	max-width: 480px;
	margin: auto;
	height: 100%;
}

a {
	color: var(--primary);
	cursor: pointer;
}

a:hover {
	color: var(--foreground);
}

.dialog {
	background-color: var(--background);
	color: var(--foreground);
	width: 100%;
}

.dialog .box {
	color: var(--foreground);
	padding: 18px;
	overflow-x: hidden;
	max-width: 360px;
	max-height: 720px;
	border-radius: 28px;
	scrollbar-width: 0 !important;
}

.dialog .box::-webkit-scrollbar {
	width: 0 !important;
}

.dialog a {
	background-color: var(--background);
	color: var(--primary);
}

.time {
	font-weight: normal;
	text-decoration: none;
	font-size: 1rem;
	padding: 1rem 0;
}

.bi {
	font-size: 1.5em;
	padding: 5px;
}

.box {
	background-color: var(--background);
	border-radius: 8px;
}

.card {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	padding: 8px;
	border-radius: 8px;
}

.card:hover {
	background: var(--secondary);
}

.card .info {
	width: calc(100% - 100px);
	margin: auto;
	display: flex;
	gap: 8px;
	flex-direction: column;
	align-items: center;
}

.card img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.card .profile-box-label {
	white-space: initial;
	font-size: 1.2em;
	text-decoration: none;
}

.stars {
	margin-right: 1em;
}

.tier {
	white-space: nowrap;
}

.list {
	list-style-type: none;
	padding: 0 5px;
	margin: auto;
	height: 48px;
	max-width: 380px;
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	align-items: center;
}

.list .item {
	white-space: nowrap;
	margin: 0 8px;
	width: 100%;
}

.dialog .list {
	flex-direction: column;
	height: auto;
	overflow-x: hidden;
}

.dialog .list li {
	width: 100%;
}

.inverted {
	color: var(--foreground);
}

.inverted:hover {
	color: var(--primary);
}

.page-align {
	width: 100%;
	text-align: center;
	margin: auto;
	display: flex;
	justify-content: center;
}

.page-align li,
.page-align a {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.5;
}

/*PROFILE*/
.profile {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-box {
	position: relative;
	white-space: normal;
	touch-action: manipulation;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile-box-label {
	font-size: 55%;
	filter: contrast(1.2);
	white-space: nowrap;
}

.profile-box-label.inactive {
	filter: brightness(0) contrast(0) opacity(0.5);
}

.profile-image img,
.profile-box-img {
	margin: auto;
	clear: both;
	text-align: center;
	max-width: 100%;
	max-height: 33vh;
	object-fit: contain;
	border-radius: 28px;
}

.profile-details {
	height: 50%;
	display: flex;
	justify-content: center;
}

.profile-details:not(.multi)>div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 5px;
	width: auto;
	height: 100%;
}

.profile-details.multi {
	height: auto;
	justify-content: space-evenly;
}

.profile-details div:hover .points {
	text-decoration: underline;
}

.profile-pointers {
	width: 75%;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.profile-pointers>div {
	flex-basis: 33%;
}

.profile-pointers>div:nth-of-type(2) {
	flex-basis: 44%;
}

.profile-socials {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
}

.profile-social {
	color: var(--foreground);
	background-color: var(--accent);
	border-radius: 28px;
	padding: 4px 8px;
	min-height: 40px;
	text-decoration: none;
}

.loader {
	display: flex;
	justify-content: center;
	padding: 10px;
	font-size: 2em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.view {
	height: min(calc(100% - 200px), 75%);
	margin: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.search {
	margin: 0 4px;
	border-radius: 8px;
	border: 1px solid var(--accent);
}

.settings {
	display: flex;
	justify-content: center;
	align-items: center;
}

.settings a {
	text-decoration: none;
	text-align: center;
}

.button {
	display: inline-block;
	white-space: nowrap;
	font-size: 1rem;
	color: var(--foreground);
	background-color: var(--accent);
	border-radius: 28px;
	padding: 4px 12px;
}

.button:hover {
	background-color: var(--secondary);
}

.hidden {
	display: none;
}

.extra-rating {
	color: var(--primary);
}

/*CALENDAR*/
.calendar .calendar-box {
	margin: auto;
	max-width: 320px;
}

.calendar table {
	margin: auto;
	position: relative;
}

.calendar td {
	border-radius: 12px;
	min-width: 2.5em;
	height: 2.5em;
}

.calendar .calendar-name {
	cursor: pointer;
	color: var(--foreground);
}

.calendar .calendar-popitem {
	position: absolute;
	background-color: var(--background);
	right: 0;
	left: 0;
	display: none;
	color: var(--foreground);
}

.calendar .calendar-select {
	font-family: inherit;
	font-size: 1em;
}

.dialog .calendar-popitem {
	display: block;
	position: initial;
}

.calendar .calendar-legend {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.calendar .prev-month,
.calendar .next-month,
.calendar .calendar-legend label {
	cursor: pointer;
	padding: 5px;
	white-space: nowrap;
}

.calendar .calendar-legend label {
	border-radius: 28px;
}

.calendar .calendar-legend label:hover {
	background-color: var(--accent);
}

.calendar .calendar-legend input {
	opacity: 0;
	height: 0;
	width: 0;
}

.calendar .calendar-legend-box {
	display: inline-block;
	height: 16px;
	width: 16px;
	border: 2px solid transparent;
	vertical-align: middle;
	margin-bottom: 3px;
	border-radius: 50%;
}

.calendar .calendar-box .export {
	padding: 0 8px;
	font-size: 1em;
	width: 100%;
	gap: 8px;
}

/*calendar category labels, day with event (specific rendered from js)*/
.calendar .bg {
	cursor: pointer;
}

.calendar .bg.today[data-id] {
	background-color: var(--foreground);
}

/*calendar category labels when disabled*/
.calendar .bg.disabled[data-id],
.darked .calendar .bg.disabled[data-id] {
	background-color: transparent;
}

/*TIMELINE*/
#timeline-horiz {
	display: none;
}

.timeline {
	width: 100%;
	max-width: 320px;
	margin: auto;
}

.timeline .grid {
	margin: auto;
	padding: 5px;
	font-size: 0.85em;

	display: grid;
	grid-template-columns: 0 100px 30px auto;
	grid-auto-rows: 25px;
	align-items: center;
}

.timeline .grid-horiz {
	padding: 5px 4em;
	overflow-x: auto;
	margin: auto;
	display: grid;
	grid-auto-columns: 30px;
	grid-template-rows: 0 60px 15px 20px;
	align-items: center;
	justify-items: center;
}

.timeline .container,
.timeline .container-horiz {
	display: contents;
}

.timeline .thumb {
	max-width: 100px;
	max-height: 100px;
	grid-column-start: 2;
}

.timeline .thumb-horiz {
	max-width: 100px;
	max-height: 100px;
	white-space: nowrap;
	grid-row-start: 3;
}

.timeline .blob {
	grid-column-start: 3;
	font-size: 5em;
}

.timeline .blob-horiz {
	grid-row-start: 2;
	white-space: nowrap;
	font-size: 10em;
}

.timeline .blob-horiz:hover {
	color: var(--primary);
	font-weight: bold;
	filter: none;
	z-index: 10;
}

.timeline .container:hover a img,
.timeline .container:hover div {
	color: var(--primary);
	font-weight: bold;
	filter: none;
	cursor: pointer;
}

.timeline .container:hover a,
.timeline .container:hover a img,
.timeline .container:hover div {
	z-index: 10;
}

.timeline .description {
	grid-column-start: 4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.timeline .description-horiz {
	grid-row-start: 4;
	white-space: nowrap;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.timeline .container:hover~div,
.timeline .dimmed {
	color: var(--foreground);
}

.timeline .selected {
	background-color: var(--background);
	color: var(--primary);
	font-weight: bold;
	filter: none;
	z-index: 10;
}

/*scrollbars for top and bottom labels only on desktop*/
@media only screen and (max-width : 480px) {
	div {
		scrollbar-width: 0 !important;
	}

	div::-webkit-scrollbar {
		width: 0 !important
	}
}

@media only screen and (max-height : 700px) {
	.calendar td {
		height: auto;
	}

	.profile-image img {
		max-height: calc(94vh - 344px);
	}
}

@media screen and (orientation:landscape) and (max-height : 640px) {
	body {
		width: 100%;
		max-width: 640px;
	}

	.profile {
		max-width: 100%;
		max-height: 360px;
		overflow-y: hidden;
	}

	.view {
		height: calc(100% - 170px);
	}

	.page-align {
		margin: 0;
	}

	.timeline {
		max-width: 640px;
	}

	.profile-image {
		width: 50%;
	}

	.profile-details {
		width: 50%;
	}

	#timeline-horiz {
		display: initial;
	}

	#timeline-vert {
		display: none;
	}

	.calendar-box {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.calendar td {
		height: auto;
	}

	.list {
		height: auto;
	}

	.profile-image img,
	.profile-box-img {
		max-height: 200px;
	}

	.timeline .grid-horiz {
		max-width: 480px;
	}
}