/*VARIABLES*/
:root {
  --primary: #1b00ff;
  --secondary: #609fff;
  --background: #fff;
  --foreground: #000;
  --accent: lightgray;
}

.darked:root {
  --primary: #00e4ff;
  --secondary: #00abbf;
  --background: #000;
  --foreground: #fff;
  --accent: gray;
}

/*SPECIFIC*/
a {
	color: var(--foreground);
	text-decoration: none;
}
a:hover {
	color: var(--primary);	
}

.title, 
.subtitle,
.filters, 
.settings {
	position: absolute;
    filter: drop-shadow(2px 4px 2px var(--background));
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.title, 
.subtitle {
	top: 0;
	left: 1em;
}

.settings {
	top: 0;
	right: 1em;
}

.filters {
	width: 100%;
	height: 100%;
	bottom: 0;
    margin: auto;
	background-color: var(--background);
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.filters div {
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.filters div a {
	cursor: pointer;
	text-decoration: none;
	padding: 0.5em;
	flex: 0 0 auto;
}

.filters div h3 {
	flex: 0 0 99dvw;
}

.home {
	position: absolute;
    filter: drop-shadow(2px 4px 2px var(--background));
    left: 0;
    right: 0;
	bottom: 1em;
	text-decoration: none;
	font-weight: bold;
}

body .gallery {
	display: flex;
	overflow: hidden;
	padding: 0 45dvw;
}

.gallery img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	object-fit: contain;
	width: 80dvw;
	height: 100dvh;
}

.overview img {
	position: relative;
	top: 10dvh;
    width: 20px;
	cursor: pointer;
	z-index: 10;
}

.overview img:hover {
	top: -10dvh;
	transform: scale(10);
	z-index: 9;
}

.progress {
    position: absolute;
    top: -10px;
    height: 10px;
	background-color: var(--foreground);
	transition: top 0.3s, width 0.1s;
}

/*VIEWER*/
.viewer {
	z-index: 9;
	position: fixed;
	background-color: var(--background);
	width: 100%;
	height: 100%;
	padding-top: 0;
	text-align: center;
	transition: opacity 0.3s, visibility 0.3s;
	top: 0;
}
.viewer-prev {
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	z-index: 11;
}
.viewer-next {
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
	height: 100%;
	z-index: 11;
}
.viewer-next:active {
	opacity: 0.4;
	background-image: linear-gradient(to left, var(--background), transparent);
}
.viewer-prev:active {
	opacity: 0.4;
	background-image: linear-gradient(to right, var(--background), transparent);
}

.viewer img {
	transition: transform 0.2s;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*GENERAL*/
html {
	font-family: Noto Sans;
	background-color: var(--background);
	color: var(--foreground);
}

body {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
}

.material-icons {
	cursor: pointer;
	padding: 7px;
}

.hidden {
	display: none;
}

.box {
	margin: 5px;
	vertical-align: top;
	scroll-snap-align: center;
	white-space: normal;
	touch-action: manipulation;
}

.shadowed {
	border: 1px solid lightgray;
	box-shadow: 3px 3px;
}

.shadowed:active {
	box-shadow: 1px 1px;
	transform: translate(2px, 2px);
}

.unshadowed {
	filter: opacity(100%);
	transition: filter 1s;
}
